@use "../global/global" as g;
@use "../global/reset";

.price{
    &__wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 40px;
        overflow-x: auto;
        padding: 16px;
        .box{
            @include flex();
            flex-direction: column;
            gap: 16px;
            padding: 80px 16px;
            box-shadow: 0px 0px 15px -10px #777777;
            justify-content: flex-start;
            min-width: 300px;
            .numb{
                @include fs(60);
                font-weight: bold;
                height: 100px;
                &::before{
                    content: '¥';
                    @include fs(30);
                    margin-right: 8px;
                }
                span{
                    display: block;
                    text-align: center;
                    @include fs(10);
                    width: 100%;
                    font-weight: normal;
                }
            }
            .plan{
                @include fs(25);
                font-weight: bold;
                text-align: center;
                span{
                    display: block;
                    text-align: center;
                    @include fs(10);
                }
            }
            .disc{
                text-align: center;
                @include fs(12);
            }
            button{
                background-color: g.$mc;
                transition: background-color 0.3s ease;
                &:hover{
                    background-color: lighten(g.$mc, 10%);
                }
                a{
                    color: white;
                    display: block;
                    font-weight: bold;
                    padding: 8px;
                    width: 100%;
                    text-align: center;
                }
            }
            ul{
                li{
                    @include fs(12);
                    margin-bottom: 4px;
                    &::before{
                        font: var(--fa-font-solid);
                        content: '\f00c';
                        color: g.$mc;
                        margin-right: 4px;
                    }
                }
            }
        }//box
        .free{
            button{
                background-color: g.$green;
                &:hover{
                    background-color: lighten(g.$green, 10%);
                }
            }
            ul{
                li{
                    &::before{
                        color: g.$green;
                    }
                }
            }
        }
        .advanced{
            button{
                background-color: g.$pink;
                &:hover{
                    background-color: lighten(g.$pink, 10%);
                }
            }
            ul{
                li{
                    &::before{
                        color: g.$pink;
                    }
                }
            }
        }
    }
    &__special{
		.toggle{
			margin-top: 80px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap:40px;
			@include md{
				grid-template-columns: repeat(2,1fr);
				gap:40px 24px ;
			}
			button{
				color: $mc;
				background-color: white;
				border: $mc 1px solid;
				border-radius: 5px;
				position: relative;
				font-weight: bold;
				&.active{
					background-color: $mc;
					color: white;
					border: transparent 1px solid;
				}
				&::after{
					content: '無料';
					position: absolute;
					background-color: $pink;
					width: 50px;
					height: 50px;
					@include flex();
					border-radius: 100%;
					color: white;
					font-weight: bold;
					right: -30px;
					top: -30px;
					@include md{
						right: -8px;
					}
				}
				&:first-of-type::after{
					content: '';
					width: unset;
					height: unset;
					background-color: unset;
				}
				span{
					position: absolute;
					top: -45px;
					right: 25px;
					color: $pink;
					font-weight: bold;
					&::first-letter{
						@include fs(40);
					}
					@include md{
						right: 45px;
					}
				}
			}
		}
		&__wrap{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 40px;
			margin-top: 40px;
			overflow-x: auto;
			padding: 16px;
			@include md{
				grid-template-columns: 1fr;
			}
			.box{
				@include flex();
				flex-direction: column;
				gap: 16px;
				padding: 80px 16px;
				box-shadow: 0px 0px 15px -10px #777777;
				justify-content: flex-start;
				min-width: 500px;
				@include md{
					min-width: auto;
				}
				.numb{
					@include fs(60);
					font-weight: bold;
					height: auto;
					&::before{
						content: '¥';
						@include fs(30);
						margin-right: 8px;
					}
					span{
						display: block;
						text-align: center;
						@include fs(10);
						width: 100%;
						font-weight: normal;
					}
				}
				.plan{
					@include fs(25);
					font-weight: bold;
					text-align: center;
					span{
						display: block;
						text-align: center;
						@include fs(10);
					}
				}
				.disc{
					text-align: center;
					@include fs(12);
				}
				button{
					background-color: g.$mc;
					transition: background-color 0.3s ease;
					&:hover{
						background-color: lighten(g.$mc, 10%);
					}
					a{
						color: white;
						display: block;
						font-weight: bold;
						padding: 8px;
						width: 100%;
						text-align: center;
					}
				}
				ul{
					li{
						@include fs(12);
						margin-bottom: 4px;
						&::before{
							font: var(--fa-font-solid);
							content: '\f00c';
							color: g.$mc;
							margin-right: 4px;
						}
					}
				}
				.amount{
					@include flex();
					gap: 16px;
					.wrap{
						background-color: $mc;
						padding: 4px 16px;
						color: white;
						border-radius: 5px;
					}
					.inner{
						@include fs(40);
						font-weight: bold;
						color: $mc;
						&::before{
							content: '¥';
							@include fs(20);
							margin-right: 8px;
						}
					}
				}//amoutn
				.agel{
					.sarani{
						@include flex();
						font-weight: bold;
						.wrap{
							position: relative;
							&::before{
								content: '';
								background-image: url(../img/sarani.svg);
								background-repeat: no-repeat;
								position: absolute;
								top: -6px;
								left: -10px;
								width: 15px;
								height: 15px;
							}
						}
					}
					.present{
						@include flex();
						gap: 16px;
						.img{
							img{
								width: 150px;
								height: auto;
								@include md{
									width: 100px;
								}
							}
						}
						.text{
							@include fs(20);
							background: linear-gradient(transparent 70%, $pink 60%);
							@include md{
								background: unset;
							}
							.wrap{
								@include flex();
								@include md{
									display: block;
								}
								.inner{
									@include md{
										background: linear-gradient(transparent 70%, $pink 60%);
									}
									span{
										@include fs(40);
									}
								}
							}

						}
					}
				}
			}//box
			
			.free{
				button{
					background-color: g.$green;
					&:hover{
						background-color: lighten(g.$green, 10%);
					}
				}
				ul{
					li{
						&::before{
							color: g.$green;
						}
					}
				}
			}
			.hidden{
				display: none;
			}
		}//wrap
		.advansed{
			padding-top: 40px;
			.title{
				font-weight: bold;
				@include fs(20);
				text-align: center;
			}
			p{
				text-align: center;
			}
			.toggle{
				margin-top: 40px;
				span{
					@include fs(40);
					&::first-letter{
						all: unset;
					}
				}
				button::after{
					content: 'OFF';
				}
			}
			.price__special__wrap{
				display: grid;
				grid-template-columns: 1fr;
			}
			.box{
				button{
					background-color: g.$pink;
					&:hover{
						background-color: lighten(g.$pink, 10%);
					}
				}
				ul{
					li{
						&::before{
							color: g.$pink;
						}
					}
				}
			}
		}
	}//special
}//price