{% extends 'base.html' %}
{% load static %}

{% block title %}チャットボット | GPS-Live-Match{% endblock %}

{% block head %}

<style>
.t_f{
    font-size: 10pt;
}
</style>


<style>
/* チャットCSS */
/*以下、背景色など*/

.line-bc {
  padding: 2px 5px;
//  padding: 20px 10px;
  max-width: 450px;
  margin: 0px auto;
//  margin: 15px auto;
  text-align: right;
  font-size: 14px;
//  background: white;
  background: #7da4cd;
}

/*以下、左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -100px;
//  margin-right: -50px;
  width: 60px;
//  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.balloon6 .chatting {
  width: 100%;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin: 3px 0 0 70px;
//  margin: 0 0 0 70px;
  padding: 10px;
  max-width: 197px; // 相手のコメント欄の幅
//  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
//  border-right: 18px solid #30e852;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
}

.chatting:after {
  content: "";
  display: block;
  clear: both
  }

  .says  {
  float: left;
  }

.pcommentdate {
  float: left;
  }

.pcommentdate p {
  position: relative;
  top: 5px;
  left: 5px;
  }


/*以下、③右側のコメント*/

.mycommenttop:after {
  content: "";
  display: block;
  clear: both
  }

.mycomment  {
  float: right;
  }

.mycomment p {
  display: inline-block;
  position: relative;
//  margin: 10px 5px 0px 25px;
  margin: 5px 10px 10px 0;
  padding: 8px;
  max-width: 197px; // 自分のコメント欄の幅
//  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
//  background: #edf1ee;
  font-size: 15px:
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #edf1ee;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.mycommentdate {
  float: right;
  }

.mycommentdate p {
  position: relative;
  top: 5px;
  left: -5px;
  }

</style>

<style>
input.input_mes {
//  width: 90%;
  width: 300px;
  }

</style>


<style>
// スピナー
#button{ // このCSSは、利用していない
  display:block;
  margin:20px auto;
  padding:10px 30px;
  background-color:#eee;
  border:solid #ccc 1px;
  cursor: pointer;
}
#overlay{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide{
  display:none;
}
</style>



{% endblock %}

{% block contents %}

<div class="container">
    <div class="my-div-style w-100">
        <h6>ぼっちチャット</h6><br>
        <p>{{ nickname }} さん</p>

            <UL class="t_f">
                <LI>ぼっちと会話ができます！</LI>
            </UL>

        <div class="row my-row-style1">

            <form action="{% url 'live:chatbot' %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="table-responsive">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <input type="text" class="input_mes" id="input_message" name="what_doing_now" autocomplete="off" autofocus />
                            </td>
                        </tr>
                    </table>
                </div>


<!--                画面上にくるくる（スピナー）表示-->
                <button id="button_submit" class="btn btn-primary ml-2 mt-3 mb-3 btn-sm" type="submit">送信</button><br>
                <div id="overlay">
                  <div class="cv-spinner">
                    <span class="spinner"></span>
                  </div>
                </div>
<!--                画面上にくるくる（スピナー）表示-->

            </form>

        </div>

        <div id="div_message"></div>

        </div>
    </div>


<script>
// スピナー
jQuery(function($){
  $(document).ajaxSend(function() {
    $("#overlay").fadeIn(300);　
  });

  $('#button_submit').click(function(){
    $.ajax({
      type: 'GET',
      success: function(data){
        console.log(data);
      }
    }).done(function() {
      setTimeout(function(){
        $("#overlay").fadeOut(1300);
      },500);
    });
  });
});

</script>




<script>

    const g_elementDivMessage = document.getElementById( "div_message" );

    //Messageからメッセージ情報取得
    var json = "{{ live_dic }}";  //Messageからメッセージ情報取得 json形式のストリングデータ（{"133": {"key": 133, "f_nick": "\u6b21\u90ce", "t_nick": "\u3060\u3044\u3054", "mes": "\u4eca\u65e5\u306f8\u670828\u65e5", "c_date": "2022/08/28 06:20"}, 、、、}）

    // 文字変換 {&quot;だいご&quot;:→{"だいご":
    json = json.split('&quot;').join('"') // 「&quot;」を「"」に変換

<!--    json = JSON.stringify(json);-->


    // JavaScript のオブジェクトを生成
    json = json.replace(/[\u0000-\u001F]+/g, ""); // 「u0000」から「u001F」までの制御文字を取り除く

    const obj = JSON.parse(json);  //JavaScript のオブジェクトを生成



    // ループでメッセージ表示
    for(var key in obj) {
      if(obj.hasOwnProperty(key)) {

        var val = obj[key];

        console.log(val);
        console.log(val.key);
        console.log(val.f_nick);
        console.log(val.t_nick);
        console.log(val.mes);
        console.log(val.c_date);
        console.log(val.f_photo);
        console.log(val.t_photo);

        }

        else {
                ;
            }

        if(val.photo != 'n' || val.audio_file != 'n' || val.video_file != 'n') {

        var flg = '1'; // メディアあり

        }

        else {
        flg = '0'; // メディア無し

        }



        if("{{ out_in }}" == "out") {


            if(val.t_nick == "{{ nickname }}") {


            // 拡散されたメッセージをメッセージリストに追加
            var div_line_bc = document.createElement('div'); // <div class="line-bc">   <!--①LINE会話全体を囲う-->
            div_line_bc.classList.add('line-bc');
            g_elementDivMessage.prepend(div_line_bc); //
            // g_elementDivMessage.appendChild(div_line_bc); //

            var div_balloon6 = document.createElement('div'); // <div class="balloon6">   <!--②左コメント始-->
            div_balloon6.classList.add('balloon6');
            div_line_bc.appendChild(div_balloon6); //

            var div_faceicon = document.createElement('div'); // <div class="faceicon">
            div_faceicon.classList.add('faceicon');
            div_balloon6.appendChild(div_faceicon);

            if(val.f_photo != 'n') {
            // 顔画像がある場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME"
            icon.width = "60"
            icon.height = "auto"
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            else {

            // 顔画像が無い場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            // icon.src = "{{ p_photo.url }}";
            // icon.src = String(val.t_photo);
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME";
            icon.width = 60;
            icon.height = "auto";
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            var div_chatting = document.createElement('div'); // <div class="chatting">
            div_chatting.classList.add('chatting');
            div_balloon6.appendChild(div_chatting);

            var div_says = document.createElement('div'); // <div class="says">
            div_says.classList.add('says');
            div_chatting.appendChild(div_says);


            if(flg == '0') {

            // タグの生成
            var p_t = document.createElement('p'); // <p>こんにちは、今日はお元気ですか？</p>
            // テキストを追加する
            p_t.textContent = val.mes;
            // p_t.textContent = strMessage;
            div_says.appendChild(p_t);

            }

            else {


            var p_t = document.createElement('p'); // <p>こんにちは、今日はお元気ですか？</p>
            var a = document.createElement('a');
            a.target = '_blank';
            a.href = "{{ live_message_chat_url }}" + val.key + '/' + 'out' + '/';
            // a.href = "{{ live_message_chat_url }}" + val.key + '/' + "{{ out_in }}" + '/';
            a.innerText = val.mes;
            div_says.appendChild(p_t)
            p_t.appendChild(a)

            }


            var div_pcommentdate = document.createElement('div'); // <div class="pcommentdate">
            div_pcommentdate.classList.add('pcommentdate');
            div_chatting.appendChild(div_pcommentdate);

            // タグの生成
            var p_s_d = document.createElement('p'); // <p>12:30</p>
            // テキストを追加する
            p_s_d.textContent = val.c_date;
            let str = p_s_d.textContent
            p_s_d.innerHTML = str.fontsize(1);
            div_pcommentdate.appendChild(p_s_d);


<!--            var div_mycomment = document.createElement('div'); // <div class="mycomment">-->
<!--            div_says.classList.add('mycomment');-->
<!--            div_line_bc.appendChild(div_mycomment);-->

<!--            // タグの生成-->
<!--            var p_s = document.createElement('p'); // <p>はい、元気ですよ！</p>-->
<!--            // テキストを追加する-->
<!--            p_s.textContent = strMessage;-->
<!--            div_mycomment.appendChild(p_s);-->



            }

            else {

            // 拡散されたメッセージをメッセージリストに追加
            var div_line_bc = document.createElement('div'); // <div class="line-bc">   <!--①LINE会話全体を囲う-->
            div_line_bc.classList.add('line-bc');
            g_elementDivMessage.prepend(div_line_bc); //
            // g_elementDivMessage.appendChild(div_line_bc); //

<!--            var div_balloon6 = document.createElement('div'); // <div class="balloon6">   &lt;!&ndash;②左コメント始&ndash;&gt;-->
<!--            div_balloon6.classList.add('balloon6');-->
<!--            div_line_bc.appendChild(div_balloon6); //-->

<!--            var div_faceicon = document.createElement('div'); // <div class="faceicon">-->
<!--            div_faceicon.classList.add('faceicon');-->
<!--            div_balloon6.appendChild(div_faceicon);-->

<!--            // タグの生成-->
<!--            var icon = document.createElement('img');-->
<!--            // 属性の追加-->
<!--            icon.src = "{% static 'img/abata_KGNoDvb.jpg' %}";-->
<!--            icon.alt = "HOME"-->
<!--            icon.width = "60"-->
<!--            icon.height = "auto"-->

<!--            // タグを表示-->
<!--            div_faceicon.appendChild(icon);-->


<!--            var div_chatting = document.createElement('div'); // <div class="chatting">-->
<!--            div_chatting.classList.add('chatting');-->
<!--            div_balloon6.appendChild(div_chatting);-->

<!--            var div_says = document.createElement('div'); // <div class="says">-->
<!--            div_says.classList.add('says');-->
<!--            div_chatting.appendChild(div_says);-->

<!--            // タグの生成-->
<!--            var p_t = document.createElement('p'); // <p>こんにちは、今日はお元気ですか？</p>-->
<!--            // テキストを追加する-->
<!--            p_t.textContent = strMessage;-->
<!--            div_says.appendChild(p_t);-->

            var div_mycommenttop = document.createElement('div'); // <div class="mycommenttop">
            div_mycommenttop.classList.add('mycommenttop');
            div_line_bc.appendChild(div_mycommenttop);


            var div_faceicon = document.createElement('div'); // <div class="faceicon">
            div_faceicon.classList.add('faceicon');
            div_mycommenttop.appendChild(div_faceicon);

            if(val.t_photo != 'n') {
            // 顔画像がある場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            // icon.src = String(val.t_photo);
            //icon.src = "{{ p_photo.url }}";
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME";
            icon.width = 60;
            icon.height = "auto";
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            else {

            // 顔画像が無い場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            // icon.src = "{{ p_photo.url }}";
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME";
            icon.width = 60;
            icon.height = "auto"
            // タグを表示
            div_faceicon.appendChild(icon);

            }



            var div_mycomment = document.createElement('div'); // <div class="mycomment">
            div_mycomment.classList.add('mycomment');
            div_mycommenttop.appendChild(div_mycomment);



            if(flg == '0') {

            // タグの生成
            var p_s = document.createElement('p'); // <p>はい、元気ですよ！</p>
            // テキストを追加する
            p_s.textContent = val.mes;
            // p_s.textContent = strMessage;
            div_mycomment.appendChild(p_s);

            }

            else {
            var p_s = document.createElement('p'); // <p>はい、元気ですよ！</p>
            var a = document.createElement('a');
            a.target = '_blank';
            a.href = "{{ live_message_chat_url }}" + val.key + '/' + "{{ out_in }}" + '/';
            // a.href = "{{ live_message_chat_url }}" + val.key + '/' + 'out' + '/';
            a.innerText = val.mes;
            div_mycomment.appendChild(p_s)
            p_s.appendChild(a)

            }



            var div_mycommentdate = document.createElement('div'); // <div class="mycommentdate">
            div_mycommentdate.classList.add('mycommentdate');
            div_mycommenttop.appendChild(div_mycommentdate);

            // タグの生成
            var p_s_d = document.createElement('p'); // <p>12:30</p>
            // テキストを追加する
            p_s_d.textContent = val.c_date;
            let str = p_s_d.textContent
            p_s_d.innerHTML = str.fontsize(1);
            div_mycommentdate.appendChild(p_s_d);

            }

            }

            else {

            if(val.t_nick == "{{ nickname }}") {


            // 拡散されたメッセージをメッセージリストに追加
            var div_line_bc = document.createElement('div'); // <div class="line-bc">   <!--①LINE会話全体を囲う-->
            div_line_bc.classList.add('line-bc');
            //g_elementDivMessage.prepend(div_line_bc); //
            g_elementDivMessage.appendChild(div_line_bc); //

            var div_balloon6 = document.createElement('div'); // <div class="balloon6">   <!--②左コメント始-->
            div_balloon6.classList.add('balloon6');
            div_line_bc.appendChild(div_balloon6); //

            var div_faceicon = document.createElement('div'); // <div class="faceicon">
            div_faceicon.classList.add('faceicon');
            div_balloon6.appendChild(div_faceicon);

            if(val.t_photo != 'n') {
            // 顔画像がある場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME"
            icon.width = "60"
            icon.height = "auto"
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            else {

            // 顔画像が無い場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME";
            icon.width = 60;
            icon.height = "auto";
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            var div_chatting = document.createElement('div'); // <div class="chatting">
            div_chatting.classList.add('chatting');
            div_balloon6.appendChild(div_chatting);

            var div_says = document.createElement('div'); // <div class="says">
            div_says.classList.add('says');
            div_chatting.appendChild(div_says);


            if(flg == '0') {

            // タグの生成
            var p_t = document.createElement('p'); // <p>こんにちは、今日はお元気ですか？</p>
            // テキストを追加する
            p_t.textContent = val.mes;
            // p_t.textContent = strMessage;
            div_says.appendChild(p_t);

            }

            else {
            var p_t = document.createElement('p'); // <p>こんにちは、今日はお元気ですか？</p>
            var a = document.createElement('a');
            a.target = '_blank';
            // a.href = "{{ live_message_chat_url }}" + val.key + '/' + 'in' + '/';
            a.href = "{{ live_message_chat_url }}" + val.key + '/' + "{{ out_in }}" + '/';
            a.innerText = val.mes;
            div_says.appendChild(p_t)
            p_t.appendChild(a)

            }


            var div_pcommentdate = document.createElement('div'); // <div class="pcommentdate">
            div_pcommentdate.classList.add('pcommentdate');
            div_chatting.appendChild(div_pcommentdate);

            // タグの生成
            var p_s_d = document.createElement('p'); // <p>12:30</p>
            // テキストを追加する
            p_s_d.textContent = val.c_date;
            let str = p_s_d.textContent
            p_s_d.innerHTML = str.fontsize(1);
            div_pcommentdate.appendChild(p_s_d);


<!--            var div_mycomment = document.createElement('div'); // <div class="mycomment">-->
<!--            div_says.classList.add('mycomment');-->
<!--            div_line_bc.appendChild(div_mycomment);-->

<!--            // タグの生成-->
<!--            var p_s = document.createElement('p'); // <p>はい、元気ですよ！</p>-->
<!--            // テキストを追加する-->
<!--            p_s.textContent = strMessage;-->
<!--            div_mycomment.appendChild(p_s);-->



            }

            else {

            // 拡散されたメッセージをメッセージリストに追加
            var div_line_bc = document.createElement('div'); // <div class="line-bc">   <!--①LINE会話全体を囲う-->
            div_line_bc.classList.add('line-bc');
            // g_elementDivMessage.prepend(div_line_bc); //
            g_elementDivMessage.appendChild(div_line_bc); //

<!--            var div_balloon6 = document.createElement('div'); // <div class="balloon6">   &lt;!&ndash;②左コメント始&ndash;&gt;-->
<!--            div_balloon6.classList.add('balloon6');-->
<!--            div_line_bc.appendChild(div_balloon6); //-->

<!--            var div_faceicon = document.createElement('div'); // <div class="faceicon">-->
<!--            div_faceicon.classList.add('faceicon');-->
<!--            div_balloon6.appendChild(div_faceicon);-->

<!--            // タグの生成-->
<!--            var icon = document.createElement('img');-->
<!--            // 属性の追加-->
<!--            icon.src = "{% static 'img/abata_KGNoDvb.jpg' %}";-->
<!--            icon.alt = "HOME"-->
<!--            icon.width = "60"-->
<!--            icon.height = "auto"-->

<!--            // タグを表示-->
<!--            div_faceicon.appendChild(icon);-->


<!--            var div_chatting = document.createElement('div'); // <div class="chatting">-->
<!--            div_chatting.classList.add('chatting');-->
<!--            div_balloon6.appendChild(div_chatting);-->

<!--            var div_says = document.createElement('div'); // <div class="says">-->
<!--            div_says.classList.add('says');-->
<!--            div_chatting.appendChild(div_says);-->

<!--            // タグの生成-->
<!--            var p_t = document.createElement('p'); // <p>こんにちは、今日はお元気ですか？</p>-->
<!--            // テキストを追加する-->
<!--            p_t.textContent = strMessage;-->
<!--            div_says.appendChild(p_t);-->

            var div_mycommenttop = document.createElement('div'); // <div class="mycommenttop">
            div_mycommenttop.classList.add('mycommenttop');
            div_line_bc.appendChild(div_mycommenttop);


            var div_faceicon = document.createElement('div'); // <div class="faceicon">
            div_faceicon.classList.add('faceicon');
            div_mycommenttop.appendChild(div_faceicon);

            if(val.f_photo != 'n') {
            // 顔画像がある場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME";
            icon.width = 60;
            icon.height = "auto";
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            else {

            // 顔画像が無い場合
            // タグの生成
            var icon = document.createElement('img');
            // 属性の追加
            icon.src = "{% static 'img/happy-face.jpg' %}";
            icon.alt = "HOME";
            icon.width = 60;
            icon.height = "auto";
            // タグを表示
            div_faceicon.appendChild(icon);

            }

            var div_mycomment = document.createElement('div'); // <div class="mycomment">
            div_mycomment.classList.add('mycomment');
            div_mycommenttop.appendChild(div_mycomment);


            if(flg == '0') {

            // タグの生成
            var p_s = document.createElement('p'); // <p>はい、元気ですよ！</p>
            // テキストを追加する
            p_s.textContent = val.mes;
            // p_s.textContent = strMessage;
            div_mycomment.appendChild(p_s);

            }

            else {

            var p_s = document.createElement('p'); // <p>はい、元気ですよ！</p>
            var a = document.createElement('a');
            a.target = '_blank';
            a.href = "{{ live_message_chat_url }}" + val.key + '/' + 'in' + '/';
            // a.href = "{{ live_message_chat_url }}" + val.key + '/' + "{{ out_in }}" + '/';
            a.innerText = val.mes;
            div_mycomment.appendChild(p_s)
            p_s.appendChild(a)

            }


            var div_mycommentdate = document.createElement('div'); // <div class="mycommentdate">
            div_mycommentdate.classList.add('mycommentdate');
            div_mycommenttop.appendChild(div_mycommentdate);

            // タグの生成
            var p_s_d = document.createElement('p'); // <p>12:30</p>
            // テキストを追加する
            p_s_d.textContent = val.c_date;
            let str = p_s_d.textContent
            p_s_d.innerHTML = str.fontsize(1);
            div_mycommentdate.appendChild(p_s_d);

            }

            } // out_in

        }; // ループ





</script>




{% endblock %}
