{% extends 'base.html' %}
{% load static %}

{% block title %}チェック顧客レコード有無{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<div class="container">
    <div class="area">
        <div class="box">
            {% if mes_m == '' %}
            <p class="text-center mb-5">初回のみ、会員情報を登録してください。後から変更できます。<br>
                次回から登録する必要はありません。</p>
            <!--        課金体系フラグ １：定額課金（EXMATCH）-->
            {% if m_b_f == 1 %}
            <a class="button mb-5" href="{% url 'live:ex_member_create' l_rid %}">会員情報登録</a>
            {% else %}
            <a class="button mb-5" href="{% url 'live:member_create' %}">会員情報登録</a>
            {% endif %}
            <a class="link-plane" href="{% url 'live:index' %}">ホーム</a>
            {% else %}
            <p>{{ mes_m }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


