{% extends 'base.html' %}
{% load static %}

{% block title %}支払 square{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<div class="container">
    <div class="area">
        <div class="box">
            <div class="title">お支払い</div>
            <div class="wrap">

                {{ result_body }}
    <!--            {% for key, value in result_body.items %}-->
    <!--            {{ key }} : {{ value }}-->
    <!--            {% endfor %}-->

            </div>
            <a class="link-plane" href="{% url 'live:index' %}">ホーム</a>
        </div>
    </div>
</div>

{% endblock %}


