{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}カスタムユーザー表示 | GPS-Live-Match{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<div class="container">
    <div class="area">
        <div class="mainTitle">カスタムユーザー表示</div>
        <div class="box">

            <table>
                    {% for item in data %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </table>

            <a class="button" href="{% url 'live:index' %}">ホーム</a>
        </div>
    </div>
</div>

{% endblock %}


