{% extends 'base.html' %}
{% load static %}

{% block active_terms_campaign %}active{% endblock %}

{% block title %}イベント詳細 | GPS-Live-Match{% endblock %}



{% block contents %}

<div class="container" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
    <div class="my-div-style w-100">

        <div class="mainTitle">イベント詳細</div>

        <div class="grid-container">


                <div class="head">お名前</div>
                <div class="value">{{ clientname }} さん</div>
        
                <div class="head">開始日</div>
                <div class="value">{{ object.s_date }}</div>
        
                <div class="head">終了日</div>
                <div class="value">{{ object.e_date }}</div>
        
                <div class="head">イベントタイトル</div>
                <div class="value">{{ object.title }}</div>
        
                <div class="head">イベント内容</div>
                <div class="value">{{ object.letter_body }}</div>


<!--            {% if object.big %}-->
<!--        <div class="row my-row-style1">-->
<!--                <strong>大画像</strong>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">-->
<!--&lt;!&ndash;                <img src="{{ object.big.url }}" width="100%" height="auto"/>&ndash;&gt;-->
<!--                <img src="{{ object.big.url }}" width="1280" height="auto"/>-->
<!--        </div>-->
<!---->
<!--            {% endif %}-->


            {% if object.photo %}
            <div class="head">写真</div>
            <div class="value">
<!--                <img src="{{ object.photo.url }}" width="100%" height="auto"/>-->
                <img src="{{ object.photo.url }}" width="100%" height="auto"/>
            </div>

            {% endif %}

<!--            {% if object.thumbnail %}-->
<!--        <div class="row my-row-style1">-->
<!--                <strong>サムネイル画像</strong>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">-->
<!--&lt;!&ndash;                <img src="{{ object.thumbnail.url }}" width="100%" height="auto"/>&ndash;&gt;-->
<!--                <img src="{{ object.thumbnail.url }}" width="250" height="auto"/>-->
<!--        </div>-->
<!---->
<!--            {% endif %}-->

<!--            {% if object.small %}-->
<!--        <div class="row my-row-style1">-->
<!--                <strong>小画像</strong>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">-->
<!--&lt;!&ndash;                <img src="{{ object.small.url }}" width="100%" height="auto"/>&ndash;&gt;-->
<!--                <img src="{{ object.small.url }}" width="75" height="auto"/>-->
<!--        </div>-->
<!---->
<!--            {% endif %}-->

                <div class="head">登録日時</div>
                <div class="value">{{ object.created_at }}</div>

        </div><!-- grid-container -->
            <a class="button" href="{% url 'live:index' %}">ホーム</a>

    </div>
</div>
{% endblock %}