{% extends 'base.html' %}
{% load static %}

{% block active_terms_member %}active{% endblock %}

{% block title %}お知らせ | GPS-Live-Match{% endblock %}

{% block head %}

  <!-- Custom styles for this template -->
<!--<link href="{% static 'css/clean-blog.min.css' %} rel="stylesheet">-->

{% endblock %}

{% block contents %}

  <!-- Main Content -->
<div class="container">
    <div class="my-div-style w-100">
            <div class="mainTitle">お知らせ</div>
            <div class="nickname">{{ nickname }} さん</div>

        {% for item in object_list %}

        <div class="head">イベントタイトル：</div>
        <div class="value">{{ item.title }}</div>
        
        <div class="head">イベント内容：</div>
        <div class="value">{{ item.letter_body }}</div>
        
        {% if item.photo %}
            <div class="head">写真：</div>
            <div class="value">
                <img src="{{ item.photo.url }}" width="100%" height="auto"/>
            </div>
        {% endif %}
        
        <div class="head">開始日：</div>
        <div class="value">{{ item.s_date }}</div>
        
        <div class="head">終了日：</div>
        <div class="value">{{ item.e_date }}</div>
        
<!--        <div class="row my-row-style1">-->
<!--                <strong>登録日時：</strong>-->
<!--        </div>-->
<!--        <div class="row my-row-style1">-->
<!--                {{ item.created_at }}-->
<!--        </div>-->
<!--        <hr>-->
<!--                <hr>-->
                {% empty %}
                <p class="text-center mx-auto my-5">コンテンツがありません。</p>
                {% endfor %}
                <!-- ページネーション処理 -->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                <br>
<!--            <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:index' %}">ホーム</a>-->
            </div>
        </div>
{% endblock %}


