{% extends 'base.html' %}

{% load static %}

{% block title %}お問い合わせ | EXMATCH{% endblock %}

{% block active_terms_service %}active{% endblock %}

{% block contents %}
<section class="form">
    <div class="form__wrap">
        <div class="mainTitle">お問い合わせ</div>

        <form method="post" class="area">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errorMessage">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            {% for field in form %}
                <div class="area">
                    <label for="{{ field.id_for_label }}" class="title required">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="caution">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="area btnArea">
                <button type="submit">送信</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
