{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}よくある質問（FAQ） | GPS-Live-Match{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row my-row-style1">
            {% if mes_m == '' %}
            <h5>よくある質問（FAQ）</h5><br><br>
            <div class="table-responsive">
                <!--                課金体系フラグ １：定額課金（EXMATCH） ０：従量課金（LIVEMATCH）-->
                {% if m_b_f == 0 %}
                <table class="table table-hover">
                    <tr>
                        <td>
                            <ol>
                                <li>会員登録について</li><br>
                                ご利用の際は、事前に「ぼっち会員」登録をお願いいたします。初回登録料、年会費は無料です。<br>
                                サービスご利用の際には、必要に応じて、ポイント購入が必要となる場合があります。<br>
                                メールアドレスで登録の場合、「いまココぼっち」より確認メールが届きますので、メール内のURLより、本登録にお進みください。（迷惑メールの設定にご注意ください。）<br>
                                LINEアカウントで登録の際は、Lineログインから登録をお願いいたします。<br><br>

                                <li>カード登録について</li><br>
                                当サイトのご利用には、クレジットカードもしくはデビットカードの登録が必須となります。<br>
                                また当サイトでは、Squareカード決済サービスを利用しており、お客様の登録カード情報は一切保有いたしておりません。<br>
                                Squareではカードのご利用時、データは独自のスキームにより暗号化され、決済処理されます。そのため、ご入力いただいたデータが端末やサイト内に保存される事はありません。<br><br>

                                <li>ポイント購入について</li><br>
                                当サイト内で使用されるポイントは、1ポイント＝10円です。<br>
                                ご利用に合わせて、ポイント購入画面より、随時購入できます。<br>
                                また、“プレミアムぼっち会員”に登録する事により、毎月一定額でご利用いただくことが出来ます。<br><br>

                                <li>プレミアムぼっち会員について</li><br>
                                当月26日までに登録するとその月から適応となり、28日以降は翌月よりサービス開始となります。<br>
                                また27日はシステム上、登録不可となりますので、予めご了承ください。<br><br>

                                <li>プロフィール登録について</li><br>
                                プロフィール画面は、項目を多く登録する事により、より多くのお友達とマッチングする事が出来ます。<br>
                                登録内容の修正、追記は、メニュー画面より随時変更が可能です。<br>
                                また、登録内容や写真に明らかな虚偽や、他人のプロフィールなどを使用する事は禁止されております。<br><br>

                                <li>会員資格について</li><br>
                                18歳以上（高校生を除く）、どなたでもご利用いただけます。<br><br>

                                <li>グループ（複数人）でのご利用に関して</li><br>
                                個人（1対１）ではなく、グループ（複数人 対 複数人or個人）での利用の場合、グループの代表者が、必ずメールにて事前にその旨を先方に伝えた上ご利用下さい。<br><br>

                                <li>GPS位置情報の取扱について</li><br>
                                ログイン時に取得した位置情報は、ログアウト時に、破棄されます。<br>
                                検索ページでは半径300ｍ円内の、ランダムな位置にマーカーが表示される為、個人の正確な位置情報が特定されることはありません。<br><br>

                                <li>メッセージ交換・チャットについて</li><br>
                                個人情報を特定する、電話番号、ＳＮＳアカウント、メールアドレス等は、10回以上のメール交換をした時点で、入力可能となります。<br>
                                チャット内では、交換自由です。<br><br>
                            </ol>
                        </td>
                    </tr>
                </table>
                {% else %}

                EXMATCHのFAQ

                {% endif %}

            </div>
            <!--            <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:index' %}">ホーム</a>-->
            {% else %}
            <p>{{ mes_m }}</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}


