{% extends 'base.html' %}

{% block title %}お問い合わせ | GPS-Live-Match{% endblock %}

{% block active_terms_service %}active{% endblock %}

{% block contents %}

<div class="container">
    <div class="form">
        <div class="mainTitle">お問い合わせ</div>
        <div class="area">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="box">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label_tag }}
                        </label>
                        <div>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                    <button class="button" type="submit">送信</button>
<!--                    <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:index' %}">ホーム</a>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}



