{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}いいね！管理 | GPS-Live-Match{% endblock %}

{% block contents %}
<div class="container like">
    <div class="mainTitle">いいね！管理</div>
    <div class="nickname">{{ nickname }} さん</div>

    <!-- いいねされたリスト -->
    <div class="area">
        <div class="title">「いいね！」された</div>
        <div class="numb"><span>{{ received_message_cnt }}</span>人</div>

        {% if received_list %}
        <div class="liked-by">
            {% for item in received_list %}
            <div class="like-item">
                {% if item.4 %}
                <img src="{{ item.4.url }}" alt="Profile">
                {% endif %}
                <div class="like-text">
                    <a href="{% url 'live:profile_display' item.0 'in' %}">{{ item.1 }}</a> さん
                    <br>{{ item.2|date:"Y/m/j H:i" }}
                    <br>{{ item.3 | truncatechars:20 }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="no-likes">出会いはこれから！</p>
        {% endif %}
    </div>

    <!-- いいねしたリスト -->
    <div class="area">
        <div class="title">「いいね！」した</div>
        <div class="numb"><span>{{ outgoing_message_cnt }}</span>人</div>

        {% if pq_list %}
        <div class="liked-by">
            {% for item in pq_list %}
            <div class="like-item">
                {% if item.4 %}
                <img src="{{ item.4.url }}" alt="Profile">
                {% endif %}
                <div class="like-text">
                    <a href="{% url 'live:profile_display' item.0 'out' %}">{{ item.1 }}</a> さん
                    <br>{{ item.2|date:"Y/m/j H:i" }}
                    <br>{{ item.3 | truncatechars:20 }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="no-likes">いい出会いはすぐそこに！いいねしにいきましょう！</p>
        {% endif %}
    </div>
</div>


{% endblock %}


