{% extends 'base.html' %}
{% load static %}

{% block active_terms_member %}active{% endblock %}

{% block title %}会員情報登録 | GPS-Live-Match{% endblock %}


{% block contents %}

<div class="container">
    <div class="form">
        <div class="mainTitle">会員情報登録</div>
        <p class="subtitle text-center">初回のみ、「性別」、「郵便番号」を登録してください。後から変更できます。</p>

        <div class="form__wrap">
            <form action="{% url 'live:line_create_user' %}" method="post">
                {% csrf_token %}

                <div class="area">
                    <div class="title__base">性別</div>
                        <div class="radio">
                            <div class="radio__wrap">
                                <label for="exampleRadios1" class="radio__wrap--label">男性</label>
                                <input type="radio" name="gender" id="exampleRadios1" value="True" checked>
                            </div>
                            <div class="radio__wrap">
                                <input type="radio" name="gender" id="exampleRadios2" value="False">
                                <label for="exampleRadios2" class="radio__wrap--label">女性</label>
                            </div>
                        </div>
                    <div class="box">
                        <div class="title__base">郵便番号</div>
                        <input type="text" maxlength="7" id="id_zip_code" name="postalcode" placeholder="1810002">
                        <span class="caution">※ 郵便番号を入力して「住所取得」をクリックしてください。</span>
                    </div>
                </div>

                    <div class="box">
                        <input type="hidden" id="id_address1" name="address1" size="25" readonly>
                    </div>
                    <p id="ad1"></p>

                    <div class="box">
                        <input type="hidden" id="id_address2" name="address2" size="25" readonly>
                    </div>
                    <p id="ad2"></p>

                    <div class="box">
                        <input type="hidden" id="id_address3" name="address3" size="25" readonly>
                    </div>

                    <button class="button" id="search-button" type="button">住所取得</button>

                    <p id="conf">住所がよろしければ「登録」してください。</p>
                    <button class="button" id="search" type="submit">登録</button>

            </form>
        </div>

        <a class="link-plane" href="{% url 'live:index' %}">ホーム</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<script>
        //「登録」ボタン、「conf」の非表示
        const search = document.getElementById( "search" );
        search.style.display = "none";  // Form画面の非表示
        const conf = document.getElementById( "conf" );
        conf.style.display = "none";  // Form画面の非表示
</script>

<!--郵便番号→住所変換-->
<script type="text/javascript">
    $(document).on('click', '#search-button', function(event){

        const google_key = '{{ google_key }}';  // '' が必要

        var ad1= document.getElementById("ad1");
        var ad2= document.getElementById("ad2");

        const conf = document.getElementById( "conf" );
        const search = document.getElementById( "search" );
        conf.style.display = "none";  // Form画面の非表示
        search.style.display = "none";  // Form画面の非表示

    address = $('#id_zip_code').val(),
    al = address.length

    if (address.length < 7) {
// <!--        alert('正しい郵便番号7桁を入力してください');-->
            var doc0= document.getElementById("div0");
            doc0.style.color = "red";
            doc0.innerHTML= "正しい郵便番号7桁を入力してください";
            ad1.innerHTML= "";
            ad2.innerHTML= "";
            conf.style.display = "none";  // Form画面の非表示
            search.style.display = "none";  // Form画面の非表示

        return false;
        }else{
            var doc0= document.getElementById("div0");
            doc0.innerHTML= "";

            }


        $.ajax({
            url: 'https://maps.googleapis.com/maps/api/geocode/json',
            type: 'GET',
            dataType: 'json',
            data: {
                key: google_key,
                address: $('#id_zip_code').val(),
                language: 'ja'
            }
        }).done(function(data) {
            if (data.status == "OK") {
                var components = data.results[0].address_components;
                if (components.length < 5) {
// <!--                    alert('正しい郵便番号を入力してください');-->
                    var doc0= document.getElementById("div0");
                    doc0.innerHTML= "正しい郵便番号を入力してください";
                    ad1.innerHTML= "";
                    ad2.innerHTML= "";
                    conf.style.display = "none";  // Form画面の非表示
                    search.style.display = "none";  // Form画面の非表示

                    return false;
                }
                if (components.length == 5) {
// <!--                alert('正しい郵便番号です');-->
                conf.style.display = "flex";  // boxB画面の表示
                search.style.display = "flex";  // boxB画面の表示
                    $('#id_address1').val(components[3].long_name);
                    ad1.innerHTML= components[3].long_name;
                    $('#id_address2').val(components[2].long_name + ' ' + components[1].long_name);
                    $('#id_address3').val(components[2].long_name);
                    ad2.innerHTML= components[2].long_name + ' ' + components[1].long_name;
                } else if (components.length == 6) {
                conf.style.display = "flex";  // boxB画面の表示
                search.style.display = "flex";  // boxB画面の表示
                    $('#id_address1').val(components[4].long_name);
                    ad1.innerHTML= components[4].long_name;
                    $('#id_address2').val(components[3].long_name + ' ' + components[2].long_name);
                    $('#id_address3').val(components[3].long_name);
                    ad2.innerHTML= components[3].long_name + ' ' + components[2].long_name;
                }
            }else{
// <!--            alert('郵便番号が間違っています！住所が見つかりません。');-->
            var doc0= document.getElementById("div0");
            doc0.style.color = "red";
            doc0.innerHTML= "郵便番号が間違っています！住所が見つかりません。";
            ad1.innerHTML= "";
            ad2.innerHTML= "";
            conf.style.display = "none";  // Form画面の非表示
            search.style.display = "none";  // Form画面の非表示

            return false;
            }


        });
    });


</script>

{% endblock %}
