{% extends 'base.html' %}
{% load static %}

{% block active_card %}active{% endblock %}

{% block title %}ONプロフ検索選択 | GPS-Live-Match{% endblock %}


{% block contents %}

<div class="container">
    <div class="my-div-style w-100">
        <div class="mainTitle">ONプロフ検索選択</div>

        <div class="row my-row-style1" style="margin-top:50px">
            <div class="search-options">

                <div class="option">
                    <span>全ログイン会員の検索</span>
                    <a href="{% url 'live:member-profile-check' 5 %}" target="_blank" rel="noopener" class="button">こちら</a>
                </div>

                <div class="option">
                    <span>検索条件を指定してログイン会員検索</span>
                    <a href="{% url 'live:checkprofilesearchlogin' %}" target="_blank" rel="noopener" class="button">こちら</a>
                </div>
            </div>
            <a class="link-plane" href="{% url 'live:index' %}">ホーム</a>
        </div>
    </div>
</div>


{% endblock %}
