{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}位置情報許可方法 | GPS-Live-Match{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row my-row-style1">
            <h5>{{ trade_name }} 位置情報許可方法</h5><br><br>
                        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <td>
                        iPhone
                    </td>
                    <td>
                        設定＞一般＞転送またはiPhoneをリセット＞リセット＞位置情報とプライバシーをリセット＞パスコードを入力する＞設定をリセット（赤文字）<br>
                        位置情報取得の「許可」の設定方法は、<a href="https://busit.jp/howto/location_reset.html" target="_blank" rel="noopener">こちら</a>を参照<br>

                    </td>
                </tr>
                <tr>
                    <td>
                        Android（標準ブラウザ）
                    </td>
                    <td>
                        メニューを開き、設定を選択＞高度な設定画面でウェブサイトの設定をタップ＞すべて消去をタップ<br>
                        位置情報取得の「許可」の設定方法は、<a href="https://busit.jp/howto/location_reset.html" target="_blank" rel="noopener">こちら</a>を参照<br>

                    </td>
                </tr>
                <tr>
                    <td>Android（Google Chrome）
                    </td>
                    <td>
                        メニューを開き、設定を選択＞サイトの設定画面で現在地＞現在地が取得される前にChromeで確認のメッセージが表示されるようにするか、<br>
                        どのサイトも現在地を取得できないようにするかを、スイッチを使って選択します。例外を管理するには、<br>
                        ブロックまたは許可する特定のサイトをタップします。＞（例外を管理）消去してリセットをタップ<br>
                        位置情報取得の「許可」の設定方法は、<a href="https://busit.jp/howto/location_reset.html" target="_blank" rel="noopener">こちら</a>を参照<br>

                    </td>
                </tr>
                <tr>
                    <td>
                        Microsoft Edge
                    </td>
                    <td>
                        位置情報取得の「許可」の設定方法は、<a href="https://pc-karuma.net/microsoft-edge-location-pop-up/" target="_blank" rel="noopener">こちら</a>を参照<br>

                    </td>
                </tr>
                <tr>
                    <td>
                        Google Chrome
                    </td>
                    <td>
                        位置情報取得の「許可」の設定方法は、<a href="https://atmarkit.itmedia.co.jp/ait/articles/1802/05/news036.html" target="_blank" rel="noopener">こちら</a>を参照<br>

                    </td>
                </tr>
            </table>
            </div>
            <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:index' %}">ホーム</a>
        </div>
    </div>
</div>

{% endblock %}


