{% extends 'base.html' %}
{% load static %}

{% block title %}修理依頼者住所地図 | GPS-Live-Match{% endblock %}


{% block head %}

  <!-- Custom styles for this template -->
<link href="{% static 'css/clean-blog.min.css' %} rel="stylesheet">


{% endblock %}


{% block contents %}

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div style="margin: 0px 10px 0px 20px; ">
<!--            <div class="col-lg-8 col-md-10 mx-auto">-->

                    <h5>修理依頼者住所地図</h5>
                    <div class="post-preview">
                        <p>サービス提供者：{{ p_user }}<br>
                        </p>
                        <hr>
                        <p>顧客氏名：{{ s_user }}<br>
                        </p>
                        <hr>
                        <p>顧客住所：{{ address }}<br>
                        </p>
                        <hr>
                    </div>
<!--  <p>ボタンをクリック！</p>-->
<!--<p id="sample">これはサンプルです</p>-->



<!--  <input type="button" value="Check" onclick="initMap()">-->

<div id="gmap" style="height:400px;width:600px"></div> <!-- 地図を表示する領域 -->
<!--<script> var elem = document.getElementById("sample");-->
<!-- elem.innerHTML = "コメントinnerHTML ";-->

<!--</script>-->
                <script>
function initMap() {
  var target = document.getElementById('gmap');

  //マップを生成して表示
  var map = new google.maps.Map(document.getElementById('gmap'), {
  //吉祥寺駅の緯度経度
    center: {lat: 35.70341777725161, lng: 139.5797336679452},
    zoom: 15
  });
  //情報ウィンドウのインスタンスの生成
  var infoWindow = new google.maps.InfoWindow;

  //ブラウザが Geolocation に対応しているかを判定
  //対応していない場合の処理
  if(!navigator.geolocation){
    //情報ウィンドウの位置をマップの中心位置に指定
    infoWindow.setPosition(map.getCenter());
    //情報ウィンドウのコンテンツを設定
    infoWindow.setContent('Geolocation に対応していません。');
    //情報ウィンドウを表示
    infoWindow.open(map);
  }



  //ブラウザが対応している場合、position にユーザーの位置情報が入る
  navigator.geolocation.getCurrentPosition(function(position) {
    //position から緯度経度（ユーザーの位置）のオブジェクトを作成し変数に代入
    var pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };

<!--    document.getElementById('edit_area_1').innerHTML = position.coords.latitude;-->
<!--    document.getElementById('edit_area_2').innerHTML = position.coords.longitude;-->

<!--    var elem = document.getElementById("sample");-->
<!-- elem.innerHTML = position.coords.latitude;-->

    //情報ウィンドウに現在位置を指定
    infoWindow.setPosition(pos);
    //情報ウィンドウのコンテンツを設定
<!--    infoWindow.setContent('現在位置を取得しました。');-->
    //情報ウィンドウを表示
<!--    infoWindow.open(map);-->
    //マップの中心位置を指定
    map.setCenter(pos);

      var marker = new google.maps.Marker({
      position: map.getCenter(),
      map: map,
      title: "Empire !",
      animation: google.maps.Animation.DROP,
      icon: "https://maps.google.com/mapfiles/ms/micons/man.png"
    });


  }, function() {  //位置情報の取得をユーザーがブロックした場合のコールバック
    //情報ウィンドウの位置をマップの中心位置に指定
    infoWindow.setPosition(map.getCenter());
    //情報ウィンドウのコンテンツを設定
    infoWindow.setContent('Error: Geolocation が無効です。');
    //情報ウィンドウを表示
    infoWindow.open(map);
  });

  //----------------------------

// csrf_tokenの取得に使う
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

  //ブラウザが対応している場合、position にユーザーの位置情報が入る
  navigator.geolocation.getCurrentPosition(function(position) {
    //position から緯度経度（ユーザーの位置）のオブジェクトを作成し変数に代入
<!--    var pos = {-->
<!--      lat: position.coords.latitude,-->
<!--      lng: position.coords.longitude-->
<!--    };-->
<!--    }),-->
  //posをグローバル変数に定義（verを削除するとグローバル変数になる）
    pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
    }),




$(document).on("click", "#button_id", function() {
    var button = $(this);
    var csrf_token = getCookie("csrftoken");


    $.ajax({




       type: "POST",
       url: "http://localhost:8000/formpost",
       data: {
<!--           "title": "titleです",-->
  //緯度
           "lat": pos['lat'],
<!--           "message": "messageです",-->
  //経度
           "lng": pos['lng'],
       },
       // 送信前にヘッダにcsrf_tokenを付与。
       beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        },
    });
<!--    location.href = "http://localhost:8000/";-->
    location.href = "http://localhost:8000/formpost";
});




<!--    let el = document.body;-->
<!--    let str = "こんにちは！";-->

<!--    el.textContent = str;-->

<!--    postForm(pos);-->

<!--    function postForm(value) {-->
<!--        var form = document.createElement('form');-->
<!--        var request = document.createElement('input');-->
<!--        form.method = 'POST';-->
<!--        form.action = 'http://localhost:8000/locationa.htmml';-->
<!--        request.type = 'hidden'; //入力フォームが表示されないように-->
<!--        request.name = 'pos';-->
<!--        request.value = value;-->
<!--        form.appendChild(request);-->
<!--        document.body.appendChild(form);-->
<!--        form.submit();-->
<!--    }-->


}


                </script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ googleapikey }}&callback=initMap" async defer></script><!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます -->

            </div>
            <br>

                            <button id="button_id" type="button" class="btn btn-success">ホーム</button>

<!--              <p>緯度：<div id="edit_area_1"></div></p>-->
<!--  <p>経度：<div id="edit_area_2"></div></p>-->

        </div>
    </div>
</div>

{% endblock %}