{% extends 'base.html' %}
{% load static %}

{% block active_terms_member %}active{% endblock %}

{% block title %}会員情報編集 | GPS-Live-Match{% endblock %}


{% block contents %}


<div class="container">
    <div class="my-div-style w-100">

<!-- エラーメッセージ表示 -->
            {{form.errors}}
            <br>

            <h3>会員情報編集</h3>
        <div class="row my-row-style1">
            <form action="{% url 'live:member_update' object.pk %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                <input type="hidden" class="form-control form-control-sm" name="group" size="40" value={{ object.group }}>
                </div>

                <div class="form-group">
                <label for="formGroup1" style="font-size:13px;">お名前：</label>
                <input type="text" class="form-control form-control-sm" id="formGroup1" name="clientname" size="40" value={{ object.clientname }}>
                </div>

                <div class="form-group">
                <label for="formGroup2" style="font-size:13px;">生年月日：（例：1990-01-10）</label>
                <input type="text" class="form-control form-control-sm" id="formGroup2" name="birthday" size="25" value={{ birthday }}>
                </div>

                <div class="form-group">
                    {% if object.gender == True %}
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="True" checked>
                  <label class="form-check-label" for="exampleRadios1" style="font-size:13px;">
                    男性
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="False">
                  <label class="form-check-label" for="exampleRadios2" style="font-size:13px;">
                    女性
                  </label>
                </div>
                    {% else %}
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="exampleRadios3" value="True">
                  <label class="form-check-label" for="exampleRadios3" style="font-size:13px;">
                    男性
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="exampleRadios4" value="False" checked>
                  <label class="form-check-label" for="exampleRadios4" style="font-size:13px;">
                    女性
                  </label>
                </div>
                    {% endif %}
                </div>


                <div class="form-group">
                <label for="formGroup3" style="font-size:13px;">郵便番号：（例：1810002）</label>
                <input type="text" class="form-control form-control-sm" id="formGroup3" aria-describedby="emailHelp" name="postalcode" value={{ object.postalcode }} onKeyUp="AjaxZip3.zip2addr(this,'','address1','address2');">
                <small id="emailHelp" class="form-text text-muted" style="color:red;font-size:12px;">※ 郵便番号を入力すると住所が自動入力されます。</small>
                </div>

                <div class="form-group">
                <label for="formGroup4" style="font-size:13px;">都道府県：</label>
                <input type="text" class="form-control form-control-sm" id="formGroup4" placeholder="東京都" name="address1" size="25" value={{ object.address1 }}>
                </div>

                <div class="form-group">
                <label for="formGroup5" style="font-size:13px;">市区町村：</label>
                <input type="text" class="form-control form-control-sm" id="formGroup5" placeholder="三鷹市牟礼" name="address2" size="25" value={{ object.address2 }}>
                </div>

                <div class="form-group">
                <label for="formGroup6" style="font-size:13px;">番地：（例：9-5-7）</label>
                <input type="text" class="form-control form-control-sm" id="formGroup6" placeholder="９－５－７" name="address3" size="25" value={{ object.address3 }}>
                </div>

                <div class="form-group">
                <label for="formGroup7" style="font-size:13px;">マンション名等：（例：ミタカハイツC101）</label>
                    {% if object.address4 != None %}
                <input type="text" class="form-control form-control-sm" id="formGroup7" name="address4" size="25" value={{ object.address4 }}>
                    {% else %}
                <input type="text" class="form-control form-control-sm" id="formGroup7" name="address4" placeholder="" size="25">
                    {% endif %}
                </div>

                <div class="form-group">
                <label for="exampleInputEmail1" style="font-size:13px;">Email：</label>
                <input name="email1" type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp1" size="100" value={{ user.email }} readonly>
                <small id="emailHelp1" class="form-text text-muted">※ 会員登録時のメールアドレスです。（変更不可）</small>
                </div>

                <div class="form-group">
                <label for="exampleInputEmail2" style="font-size:13px;">Email：（例：email@example.jp）</label>
                    {% if object.email2 != None %}
                <input name="email2" type="email" class="form-control form-control-sm" id="exampleInputEmail2" aria-describedby="emailHelp2" value={{ object.email2 }}>
                    {% else %}
                <input name="email2" type="email" class="form-control form-control-sm" id="exampleInputEmail2" aria-describedby="emailHelp2" placeholder="">
                    {% endif %}
                <small id="emailHelp2" class="form-text text-muted">※ 追加のメールアドレスがあれば登録してください。</small>
                </div>

                <div class="form-group">
                <label for="formGroup8" style="font-size:13px;">携帯電話：（例：09012341234）</label>
                <input type="text" class="form-control form-control-sm" id="formGroup8" placeholder="09065874598" name="phone" size="15" value={{ object.phone }}>
                </div><br>

                <button class="btn btn-primary ml-2 mt-3 mb-3" type="submit">更新</button>
                <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:member_detail' object.pk %}">戻る</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}
