{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}会社概要 | GPS-Live-Match{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="mainTitle">会社概要/特定商取引法に基づく表記</div><br>
        <div class="row my-row-style1">
            {% if mes_m == '' %}
            <!--            課金体系フラグ １：定額課金（EXMATCH） ０：従量課金（LIVEMATCH）-->
            {% if m_b_f == 1 %}
                <ul class="grid-container">
                    <li class="head">名称・及びURL</li>
                    <li class="value"><a href="https://exmatch.jp/" target="_blank">EXMATCH</a></li>
                    <li class="head">メールアドレス</li>
                    <li class="value"><a href="mailto:info@itbiz.jp">info@itbiz.jp</a></li>
                    <li class="head">電話</li>
                    <li class="value">050-5469-6461</li>
                    <li class="head">営業時間</li>
                    <li class="value">24時間営業（年中無休）</li>
                    <li class="head">事業者名</li>
                    <li class="value"><a href="https://exmarry.jp/" target="_blank">株式会社エクスマリー</a></li>
                    <li class="head">運営責任者</li>
                    <li class="value">棚村健司</li>
                    <li class="head">所在地</li>
                    <li class="value">東京都千代田区九段南1-5-6 りそな九段ビル5F</li>
                    <li class="head">役務の内容</li>
                    <r class="value">
                        インターネットを利用した各種情報提供サービス<br>
                        Webサイトの企画・制作・運営<br>
                        ECサイトの企画・制作・運営<br>
                        アプリケーションソフトの企画・制作・運営<br>
                        コンピュータシステムの企画・開発・販売<br>
                        プログラミング教育事業<br>
                        自転車のパンク修理受付事業<br>
                        ゲームソフトの開発・販売<br>
                        ロボット開発・販売<br>
                        労働者派遣事業<br>
                    </li>
                    <li class="head">商品代金以外の必要料金</li>
                    <li class="value">なし</li>
                    <li class="head">サイトポリシー</li>
                    <li class="value">当社既定のプライバシーポリシーに準拠</li>
                    <li class="head">役務の対価</li>
                    <li class="value">料金（ポイントが必要な場合あり）</li>
                    <li class="head">支払方法・役務の提供時期</li>
                    <li class="value">
                        ポイント：カード決済後、1時間以内<br>
                        その他商品：商品購入時にポイント消費<br>
                    </li>
                    <li class="head">返金／返品</li>
                    <li class="value">
                        ポイント：返金不可、返品不可<br>
                        その他商品：不良品のみ交換（7日以内に連絡）<br>
                    </li>
                    <li class="head">利用規約</li>
                    <li class="value">当社既定の利用規約に準拠</li>
                    <li class="head">インターネット異性紹介事業届出</li>
                    <li class="value">登録番号：渋谷22-063086</li>
                </ul>
            {% else %}
            <!--            課金体系フラグ ０：従量課金（LIVEMATCH）-->
            <ul class="grid-container">
                <li class="head">運営</li>
                <li class="value">{{ trade_name }}</li>
                <li class="head">業種</li>
                <li class="value">インターネット異性紹介事業（登録番号：三鷹22-004381）、インターネット集客事業</li>
                <li class="head">個人事業主</li>
                <li class="value">原田静男</li>
                <li class="head">住所</li>
                <li class="value">125-0035 東京都葛飾区南水元1-30-5-501</li>
                <li class="head">電話</li>
                <li class="value">080-5477-9697</li>
                <li class="head">メールアドレス</li>
                <li class="value"><a href="mailto:info@itbiz.jp">info@itbiz.jp</a></li>
                <li class="head">{{ trade_name }} ホームページ</li>
                <li class="value"><a href="{{ live_match_url }}" target="_blank">{{ live_match_url }}</a></li>
                <li class="head">{{ trade_name }} ブログホームページ</li>
                <li class="value"><a href="{{ live_match_blog_url }}" target="_blank">{{ live_match_blog_url }}</a></li>
            </ul>
            {% endif %}

            {% else %}
            <p>{{ mes_m }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


