{% extends 'base.html' %}

{% block title %}ポイント管理 | GPS-Live-Match{% endblock %}

{% block active_terms_service %}active{% endblock %}

{% block head %}

<style>
ul.f_s { font-size: 14px; }
</style>

{% endblock %}

{% block contents %}

<div class="container">
    <div class="my-div-style w-100">

        <div class="mainTitle">ポイント管理</div>
        <div class="nickname">{{ nickname }} さん</div>
        <div class="row my-row-style1">
            {% if mes_m == '' %}
            <div class="table-responsive">

                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                    <thead class="#808080">
                    <tr align="center">
                        <th scope="col" bgcolor="#808080"><font color="white">ポイント管理</font></th>
                    </tr>
                    </thead>

                    <!--課金体系フラグ ０：従量課金（LIVEMATCH）-->
                    {% if m_b_f == 0 %}
                    <tr>
                        <td>
                            <a href="{% url 'live:member-profile-check' 42 %}">ポイント購入</a><br><br>
                            <ul class="f_s"><li>ポイント購入できます。</li></ul>
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>
                            <a class="button" href="{% url 'live:member-profile-check' 63 %}">ポイント通帳</a><br><br>
                            <ul class="f_s"><li>ポイント利用履歴参照</li></ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="button" href="{% url 'live:member-profile-check' 79 %}">通帳CSVダウンロード</a><br><br>
                            <ul class="f_s"><li>ポイント利用履歴をcsv形式でローカル端末にダウンロードできます。</li></ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>{{ mes_m }}</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}



