{% extends 'base.html' %}

{% load static %}
{% load none_filter %}

{% block active_terms_member %}active{% endblock %}

{% block title %}メッセージ送信 | GPS-Live-Match{% endblock %}

{% block head %}


<style>

#button{ // このCSSは、利用していない
  display:block;
  margin:20px auto;
  padding:10px 30px;
  background-color:#eee;
  border:solid #ccc 1px;
  cursor: pointer;
}
#overlay{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide{
  display:none;
}
</style>

<!--https://toretama.jp/click-big-image-floaty.html-->
<!--拡大画像ポップアップ表示-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

    <style>
    /* 「閉じる」ボタンのフローティング */
    #footerFloatingMenu_search {
        display: block;
        width: 90%;
        position: fixed;
        left: auto;
        bottom: 70px;
        z-index: 9999;
        text-align: center;
        padding: 0 auto;
    }

    #footerFloatingMenu_search img {
        max-width: 100%;
    }

    #footerFloatingMenu_search {
        margin: auto;
    }

    </style>

<style>

<!--/* 写真入力 */-->
<!--#photo {-->
<!--/* label { */-->
<!--/* color: #AAAAAA */ /* ラベルテキストの色を指定する */-->
<!--color: white; /* ラベルテキストの色を指定する */-->
<!--/* color: black; */ /* ラベルテキストの色を指定する */-->
<!--font-size: 11px; /* ラベルテキストのサイズを指定する */-->
<!--/* background-color: darkturquoise; *//* ラベルの背景色を指定する */-->
<!--background-color: lightseagreen;/* ラベルの背景色を指定する */-->
<!--// background-color: darkgray;/* ラベルの背景色を指定する */-->
<!--/* background-color: #006DD9; */ /* ラベルの背景色を指定する */-->
<!--padding: 6px; /* ラベルとテキスト間の余白を指定する */-->
<!--border-radius: 10px; /* ラベルボックスの角丸を指定する */-->
<!--cursor:pointer; /* マウスカーソルの形を指定する */-->
<!--}-->



#photo > input{
display:none; /* アップロードボタンのスタイルを無効にする */
}

#photo > img{
cursor: pointer;
}

div{
margin:7px; /* ボタンとテキストボックス間の余白を指定する */
}

#photo_label {
margin:0 0 7px;
}




<!--/* 音声入力 */-->
<!--#audio {-->
<!--/* label { */-->
<!--/* color: #AAAAAA */ /* ラベルテキストの色を指定する */-->
<!--color: white; /* ラベルテキストの色を指定する */-->
<!--font-size: 11px; /* ラベルテキストのサイズを指定する */-->
<!--background-color: lightseagreen;/* ラベルの背景色を指定する */-->
<!--/* background-color: darkgray; */ /* ラベルの背景色を指定する */-->
<!--/* background-color: #006DD9; */ /* ラベルの背景色を指定する */-->
<!--padding: 6px; /* ラベルとテキスト間の余白を指定する */-->
<!--border-radius: 10px; /* ラベルボックスの角丸を指定する */-->
<!--cursor:pointer; /* マウスカーソルの形を指定する */-->
<!--}-->


#audio > input{
display:none; /* アップロードボタンのスタイルを無効にする */
}

#audio > img{
cursor: pointer;
}

div{
margin:7px; /* ボタンとテキストボックス間の余白を指定する */
}

#audio_label {
margin:0 0 7px;
}



<!--/* 動画入力 */-->
<!--#video {-->
<!--/* label { */-->
<!--/* color: #AAAAAA */ /* ラベルテキストの色を指定する */-->
<!--color: white; /* ラベルテキストの色を指定する */-->
<!--font-size: 11px; /* ラベルテキストのサイズを指定する */-->
<!--background-color: lightseagreen;/* ラベルの背景色を指定する */-->
<!--/* background-color: darkgray; */ /* ラベルの背景色を指定する */-->
<!--/* background-color: #006DD9; */ /* ラベルの背景色を指定する */-->
<!--padding: 6px; /* ラベルとテキスト間の余白を指定する */-->
<!--border-radius: 10px; /* ラベルボックスの角丸を指定する */-->
<!--cursor:pointer; /* マウスカーソルの形を指定する */-->
<!--}-->


#video > input{
display:none; /* アップロードボタンのスタイルを無効にする */
}

#video > img{
cursor: pointer;
}

div{
margin:7px; /* ボタンとテキストボックス間の余白を指定する */
}

#video_label {
margin:0 0 7px;
}


</style>

<style>
 li { font-size: 13; } */
</style>

<style>
.textbox{
    outline: none;
    border: none;
    cursor: pointer;
}
</style>

{% endblock %}

{% block contents %}

<div class="container form profile">
    <div class="my-div-style w-100">

<!--        validatorsのエラーメッセージを表示-->
<!--        写真-->
        {% if form.photo.errors %}
        <ul class="alert alert-danger list-unstyled">
            {% for error in form.photo.errors %}
            <li>{{ error }}</li>
        </ul>
        {% endfor %}
        {% endif %}

<!--        音声-->
        {% if form.audio_file.errors %}
        <ul class="alert alert-danger list-unstyled">
            {% for error in form.audio_file.errors %}
            <li>{{ error }}</li>
        </ul>
        {% endfor %}
        {% endif %}

<!--        動画-->
        {% if form.video_file.errors %}
        <ul class="alert alert-danger list-unstyled">
            {% for error in form.video_file.errors %}
            <li>{{ error }}</li>
        </ul>
        {% endfor %}
        {% endif %}


        <div class="mainTitle">メッセージ送信</div><br>
        <div class="nickname">{{ nickname }} さん</div>
        <div class="nickname"> {{ p_nickname }} さん へメッセージ送信</div>

<!--        <Ul>-->
<!--            <li>お相手にメッセージ（文言、写真、音声、動画）を送信できます。</li>-->
<!--            <li>メッセージ送信後は、「閉じる」ボタンで画面を閉じてください。</li>-->

<!--        </Ul>-->

<!--        <P>-->
<!--        写真、音声、動画は、以下の仕様を推奨します。<br>-->
<!--        推奨写真：ファイル形式：(jpg、png、jpeg)　写真容量：約720kB　サイズ：約600×400ピクセル<br>-->
<!--        推奨音声：ファイル形式：(wav、mp3、acc)　音声再生時間：約2分以内<br>-->
<!--        推奨動画：ファイル形式：(mp4、m4a、avi、mov、wmv、flv)　動画再生時間：約1分以内<br><br>-->
<!--        メッセージ送信は有料です。利用料は、<a href="{% url 'live:price_list' %}" target="_blank" rel="noopener">こちら</a>の「メッセージ送信添付ファイル（任意」を参照してください。<br>-->
<!--        </p>-->

<!--        <hr>-->
<!--                <input class="btn btn-success ml-2 mt-3 mb-3" type="button" onclick="CloseWindow();" value="閉じる" />-->
<!--        <button type="button" onclick="history.back()">前のページへ戻る</button>-->


            <form action="{% url 'live:profile_detail_message' object.pk %}" method="post" enctype="multipart/form-data" class="form__wrap">

                {% csrf_token %}

                <div class="form-group">
                    <label for="formGroup20" style="font-size:14px;"><strong>メッセージ：</strong>(必須) (～400文字)</label><br>
                    <textarea class="form-control" id="formGroup20" name="mes" rows="2" cols=100% placeholder=""></textarea>
<!--                <small id="groupHelp20" class="form-text text-muted">※ 自己ピーアールを入力してください。（500文字）</small>-->
                    <small id="groupHelp20" class="form-text text-muted"><font size="2" color=black>例：）はじめまして、プロフィール見て頂きありがとうございます！、、、、</font></small>
                </div>
                <div class="form-group">
                <div>
                    <small id="photo_label"class="form-text text-muted"><font size="2" color=black><strong>写真：</strong>(任意)</font></small>
                    <label id="photo" for="file_upload">
                        <input type="file" id="file" name="photo" onchange="$('#fake_text_box').val($(this).val())">
                        <!-- <input type="text" id="file_upload" name="photo" value="ファイル選択" onClick="$('#file').click();"> -->
                    </label>
                </div>
                <!-- <div>
                    <input class="form-control form-control-sm textbox" type="text" id="fake_text_box" value="" name="photo" readonly onClick="$('#file').click();">
                </div> -->

<!--                    <label for="formGroup290" style="font-size:14px;"><strong>写真：</strong>(任意)-->
<!--                        <input type="file" class="form-control-file" id="formGroup290" name="photo">-->
<!--                    </label>-->
<!--                    <small class="form-text text-muted"><font size="2" color=black>注意： 拡張子(.jpg　.png　.jpeg) の写真を選択してください。</font></small>-->
                </div>

                <div class="form-group">
                <div>
                    <small id="audio_label"class="form-text text-muted"><font size="2" color=black><strong>音声：</strong>(任意)</font></small>
                    <label id="audio" for="file_upload_audio">
                        <input type="file" id="file_audio" name="audio_file" onchange="$('#fake_text_box_audio').val($(this).val())">
                        <!-- <input type="text" id="file_upload_audio" name="audio_file" value="ファイル選択" onClick="$('#file_audio').click();"> -->
                    </label>
                </div>
                <!-- <div>
                    <input class="form-control form-control-sm textbox" type="text" id="fake_text_box_audio" value="" name="audio_file" readonly onClick="$('#file_audio').click();">
                </div> -->

<!--                <div class="form-group">-->
<!--                <label for="formGroup300" style="font-size:14px;"><strong>音声：</strong>(任意)</label>-->
<!--                <input type="file" class="form-control-file" id="formGroup300" name="audio_file">-->
<!--&lt;!&ndash;                    <small class="form-text text-muted"><font size="2" color=black>注意： 拡張子(.wav　.mp3　.acc) の音声を選択してください。</font></small>&ndash;&gt;-->
<!--                </div>-->
                </div>

                <div class="form-group">
                <div>
                    <small id="video_label"class="form-text text-muted"><font size="2" color=black><strong>動画：</strong>(任意)</font></small>
                    <label id="video" for="file_upload_video">
                        <input type="file" id="file_video" name="video_file" onchange="$('#fake_text_box_video').val($(this).val())">
                        <!-- <input type="hidden" id="file_upload_video" name="video_file" value="ファイル選択" onClick="$('#file_video').click();"> -->
                    </label>
                </div>
                <!-- <div>
                    <input class="form-control form-control-sm textbox" type="text" id="fake_text_box_video" value="" name="video_file" readonly onClick="$('#file_video').click();">
                </div> -->

<!--                <div class="form-group">-->
<!--                    <label for="formGroup310" style="font-size:14px;"><strong>動画：</strong>(任意)</label>-->
<!--                <input type="file" class="form-control-file" id="formGroup310" name="video_file">-->
<!--&lt;!&ndash;                    <small class="form-text text-muted"><font size="2" color=black>注意： 拡張子(.mp4　.m4a　.avi　.mov　.wmv　.flv)の動画を選択してください。.MOV .movの動画は、.mp4に変換します。処理時間が多少長くなることがあります。</font></small>&ndash;&gt;-->
<!--                </div>-->
                </div>




<!--flaoting menu start-->
    <div id="footerFloatingMenu_search">
        <div class="table-responsive-sm">
<!--        <table class="table table-borderless">-->
        <table class="table table-borderless table-sm">
            <tr style="opacity: 1;background-color:white;">
                <td>
<!--                画面上にくるくる（スピナー）表示-->
                <button id="button_submit" class="btn btn-primary ml-2 mt-3 mb-3 btn-sm" type="submit">メッセージ送信</button>

                <div id="overlay">
                  <div class="cv-spinner">
                    <span class="spinner"></span>
                  </div>
                </div>
<!--                画面上にくるくる（スピナー）表示-->
                </td>
            </tr>
            <tr>
                <td>
                    <input class="link-plane text-center" type="button" onclick="CloseWindow();" value="閉じる" />
                </td>
            </tr>
        </table>
        </div>
        </div>
<!--flaoting menu end-->

<!--                <input class="btn btn-danger ml-2 mt-3 mb-3"type="reset" value="リセット">-->
<!--                <input class="btn btn-success ml-2 mt-3 mb-3" type="button" onclick="CloseWindow();" value="閉じる" />-->

            </form>

        <p class="text-center">
            メッセージ送信には、ポイントが必要です。
            <br>詳しくは、<a href="{% url 'live:price_list' %}" target="_blank" rel="noopener"> コチラ</a>
        </p>


        <div class="title__sub my-5">{{ p_nickname }} さん のプロフィール</div><br>

<!--        <Ul>-->
<!--            <li>見終わりましたら、「閉じる」ボタンで画面を閉じてください。</li>-->
<!--&lt;!&ndash;            <li>お相手にメッセージ（文言、写真、音声、動画）を送信できます。</li>&ndash;&gt;-->
<!--        </Ul>-->

<!--        <input class="btn btn-success ml-2 mt-3 mb-3" type="button" onclick="CloseWindow();" value="閉じる" />-->

<!--        <table class="table">-->
        <div class="profile-info">
            <div class="grid-container">
                <div class="head">ニックネーム</div>
                <div class="value">{{ object.nickname }}</div>
        
                <div class="head">自己ピーアール</div>
                <div class="value">{{ object.article | checkNone }}</div>
        
                <div class="head">今何している！</div>
                <div class="value">{{ object.what_doing_now | checkNone }}</div>
        
                <div class="head">趣味・興味</div>
                <div class="value">{{ object.keyword | checkNone }}</div>
        
                <div class="head">こだわり</div>
                <div class="value">{{ object.commitment | checkNone }}</div>
        
                <div class="head">嗜好品</div>
                <div class="value">{{ object.luxury_items | checkNone }}</div>
        
                <div class="head">誕生(月 日)</div>
                <div class="value">{{ object.birthday | checkNone }}</div>
        
                <div class="head">出身地</div>
                <div class="value">{{ object.birthplace | checkNone }}</div>
        
                <div class="head">出没エリア</div>
                <div class="value">{{ object.haunting_area | checkNone }}</div>
        
                <div class="head">資格</div>
                <div class="value">{{ object.qualification | checkNone }}</div>
        
                <div class="head">言語</div>
                <div class="value">{{ object.language | checkNone }}</div>
        
                <div class="head">体型</div>
                <div class="value">
                    {% if object.serviceclient_id.gender %}
                        {{ object.body_shape_man | checkNone }}
                    {% else %}
                        {{ object.body_shape_woman | checkNone }}
                    {% endif %}
                </div>
        
                <div class="head">セクシュアリティ</div>
                <div class="value">{{ object.sexuality | checkNone }}</div>
        
                <div class="head">血液型</div>
                <div class="value">{{ object.blood_type | checkNone }}</div>
        
                <div class="head">年齢</div>
                <div class="value">{{ object.age | checkNone }}</div>
        
                <div class="head">ルックス</div>
                <div class="value">{{ object.looks | checkNone }}</div>
        
                <div class="head">お酒</div>
                <div class="value">{{ object.osake | checkNone }}</div>
        
                <div class="head">性格</div>
                <div class="value">{{ object.personality | checkNone }}</div>
        
                <div class="head">身長</div>
                <div class="value">{{ object.height | checkNone }}</div>
        
                <div class="head">体重</div>
                <div class="value">{{ object.body_weight | checkNone }}</div>
        
                <div class="head">結婚歴</div>
                <div class="value">{{ object.marriage_history | checkNone }}</div>
        
                <div class="head">子どもの有無</div>
                <div class="value">{{ object.children | checkNone }}</div>
        
                <div class="head">同居人</div>
                <div class="value">{{ object.housemate | checkNone }}</div>
        
                <div class="head">タバコ</div>
                <div class="value">{{ object.tobacco | checkNone }}</div>
        
                <div class="head">学歴</div>
                <div class="value">{{ object.education | checkNone }}</div>
        
                <div class="head">職業</div>
                <div class="value">{{ object.occupation | checkNone }}</div>
        
                <div class="head">運転免許証</div>
                <div class="value">{{ object.drivers_license | checkNone }}</div>
        
                <div class="head">年収</div>
                <div class="value">{{ object.annual_income | checkNone }}</div>
            </div>
        </div>
        {% if object.face_photo %}
        <div class="row my-row-style1">
                <strong>顔写真：</strong>
        </div>
        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">
            <!--拡大画像ポップアップ表示-->
            <a href="{{ object.face_photo.url }}" data-lightbox="group"><img src="{{ object.face_photo.url }}" class="img-fluid img-thumbnail" width="90%"></a>
<!--                <img src="{{ object.face_photo.url }}" width="100%" height="auto"/>-->
        </div>
        <hr>
        {% endif %}

        {% if object.photo1 %}
        <div class="row my-row-style1">
                <strong>写真１：</strong>
        </div>
        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">
            <!--拡大画像ポップアップ表示-->
            <a href="{{ object.photo1.url }}" data-lightbox="group"><img src="{{ object.photo1.url }}" class="img-fluid img-thumbnail" width="90%"></a>
<!--                <img src="{{ object.photo1.url }}" width="100%" height="auto"/>-->
        </div>
        <hr>
        {% endif %}

        {% if object.photo2 %}
        <div class="row my-row-style1">
                <strong>写真２：</strong>
        </div>
        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">
            <!--拡大画像ポップアップ表示-->
            <a href="{{ object.photo2.url }}" data-lightbox="group"><img src="{{ object.photo2.url }}" class="img-fluid img-thumbnail" width="90%"></a>
        </div>
        <hr>
        {% endif %}

        {% if object.photo3 %}
        <div class="row my-row-style1">
                <strong>写真３：</strong>
        </div>
        <div class="col-sm-6 col-md-3" style="margin: 0px 10px 10px 0px; ">
            <!--拡大画像ポップアップ表示-->
            <a href="{{ object.photo3.url }}" data-lightbox="group"><img src="{{ object.photo3.url }}" class="img-fluid img-thumbnail" width="90%"></a>
        </div>
        <hr>
        {% endif %}

    </div>
</div>

<script>
// スピナー
jQuery(function($){
  $(document).ajaxSend(function() {
    $("#overlay").fadeIn(300);　
  });

  $('#button_submit').click(function(){
    $.ajax({
      type: 'GET',
      success: function(data){
        console.log(data);
      }
    }).done(function() {
      setTimeout(function(){
        $("#overlay").fadeOut(1300);
      },500);
    });
  });
});

</script>

  <script type="text/javascript">
    function CloseWindow() {
      window.close();
    }
  </script>



{% endblock %}