{% extends 'base.html' %}
{% load static %}

{% block active_terms_member %}active{% endblock %}

{% block title %}プロフィール編集 | GPS-Live-Match{% endblock %}


{% block contents %}


<div class="container">
    <div class="my-div-style w-100">

<!-- エラーメッセージ表示 -->
<!--            {{form.errors}}-->
            <br>

            <h5>プロフィール編集</h5>
        <p>{{ object.nickname }} さん</p>
        <hr>

        <div class="row my-row-style1">
            <form action="{% url 'live:profile_update' object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

<!--                <div class="form-group">-->
<!--                <label for="formGroup10" style="font-size:13px;">ニックネーム：</label>-->
<!--                <input type="text" class="form-control form-control-sm" id="formGroup10" name="nickname" size="20" value={{ object.nickname }}>-->
<!--                </div>-->

                <div class="form-group">
                <label for="formGroup10" style="font-size:15px;"><strong>ニックネーム：</strong></label>
                <input  readonly type="text" class="form-control form-control-sm" id="formGroup10" aria-describedby="groupHelp10" placeholder="" name="nickname" size="20" value={{ object.nickname }}>
                    <small id="groupHelp10" class="form-text text-muted" style="color:red;font-size:12px;"><font size="2" color=black>※ ニックネームは、変更できません。</font></small>
                </div>


<!--                <div class="form-group">-->
<!--                    <label for="profile" style="font-size:13px;">自己ピーアール：（必須）</label><br>-->
<!--                    <textarea class="form-control" id="profile" name="article" rows="2" cols=100% value={{ object.article }}>{{ object.article }}-->
<!--                        </textarea>-->
<!--                <small id="groupHelp0" class="form-text text-muted">※ 自己ピーアールを入力してください。（500文字）</small>-->
<!--                </div>-->

                <div class="form-group">
                    <label for="formGroup20" style="font-size:15px;"><strong>自己ピーアール：</strong><font color="red"><b>(必須)</b></font> (～500文字)</label><br>
                    <textarea class="form-control" id="formGroup20" name="article" rows="4" cols=100% value={{ object.article }}>{{ object.article }}
</textarea>
<small id="groupHelp20" class="form-text text-muted"><font size="2" color=black>例：）はじめまして、プロフィール見て頂きありがとうございます！
長野県出身、今は都内に住んでいます。

仕事はIT会社でプログラムエンジニアをしています。
大変な仕事ですが、やりがいがあるので仕事はとても楽しいです。

性格は、優しい、おおらか、落ち着いていると周りから言われる事が多く、
どちらかというとアウトドア派で、休日はサイクリングをしたり、ゴルフ、ドライブをしてすごしています。

あと、美味しい料理やお酒が大好きなので、都内のおいしいお店を探索中です！
ぜひ一緒にお酒やご飯を食べられたらいいなぁと。

    よろしくお願いします！</font></small>
                </div>




                {% if object.keyword == None %}
                <div class="form-group">
                    <label for="formGroup30" style="font-size:15px;"><strong>趣味・興味：</strong>(任意) (～300文字)</label><br>
                    <textarea class="form-control" id="formGroup30" name="keyword" rows="2" cols=100% value={{ object.keyword }}></textarea>
                    <small id="groupHelp30" class="form-text text-muted"><font size="2" color=black>例：）ゴルフ　ドライブ　サイクリング　アウトドア派</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup31" style="font-size:15px;"><strong>趣味・興味：</strong>(任意) (～300文字)</label><br>
                    <textarea class="form-control" id="formGroup31" name="keyword" rows="2" cols=100% value={{ object.keyword }}>{{ object.keyword }}</textarea>
                    <small id="groupHelp31" class="form-text text-muted"><font size="2" color=black>例：）ゴルフ　ドライブ　サイクリング　アウトドア派</font></small>
                </div>
                {% endif %}

                {% if object.commitment == None %}
                <div class="form-group">
                    <label for="formGroup40" style="font-size:15px;"><strong>こだわり：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup40" name="commitment" rows="2" cols=100% value={{ object.commitment }}></textarea>
                    <small id="groupHelp40" class="form-text text-muted"><font size="2" color=black>例：）国産ウイスキー　国産車</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup41" style="font-size:15px;"><strong>こだわり：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup41" name="commitment" rows="2" cols=100% value={{ object.commitment }}>{{ object.commitment }}</textarea>
                    <small id="groupHelp41" class="form-text text-muted"><font size="2" color=black>例：）国産ウイスキー　国産車</font></small>
                </div>
                {% endif %}

                {% if object.luxury_items == None %}
                <div class="form-group">
                    <label for="formGroup50" style="font-size:15px;"><strong>嗜好品：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup50" name="luxury_items" rows="2" cols=100% value={{ object.luxury_items }}></textarea>
                    <small id="groupHelp50" class="form-text text-muted"><font size="2" color=black>例：）お酒　コーヒー</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup51" style="font-size:15px;"><strong>嗜好品：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup51" name="luxury_items" rows="2" cols=100% value={{ object.luxury_items }}>{{ object.luxury_items }}</textarea>
                    <small id="groupHelp51" class="form-text text-muted"><font size="2" color=black>例：）お酒　コーヒー</font></small>
                </div>
                {% endif %}

                {% if object.birthday == None %}
                <div class="form-group">
                    <label for="formGroup60" style="font-size:15px;"><strong>誕生(月 日)：</strong>(任意) (月：半角2数字、日：半角2数字)</label>
                    <textarea class="form-control" id="formGroup60" name="birthday" rows="1" cols=100% value={{ object.birthday }}></textarea>
                    <small id="groupHelp60" class="form-text text-muted" style="color:red;font-size:12px;"><font size="2" color=black>例：）0418、1005、1120<br>※ 誕生日登録で、誕生日ポッチをGET！</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup70" style="font-size:15px;"><strong>誕生(月 日)：</strong>(任意) (月：半角2数字、日：半角2数字)</label>
                    <textarea class="form-control" id="formGroup70" name="birthday" rows="1" cols=100% value={{ object.birthday }}>{{ object.birthday }}</textarea>
                    <small id="groupHelp70" class="form-text text-muted" style="color:red;font-size:12px;"><font size="2" color=black>例：）0418、1005、1120<br>※ 誕生日登録で、誕生日ポッチをGET！</font></small>
                </div>
                {% endif %}

                {% if object.birthplace == None %}
                <div class="form-group">
                    <label for="formGroup80" style="font-size:15px;"><strong>出身地：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup80" name="birthplace" rows="2" cols=100% value={{ object.birthplace }}></textarea>
                    <small id="groupHelp80" class="form-text text-muted"><font size="2" color=black>例：）都道府県名　市町村名　学校名70期　アメリカ</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup90" style="font-size:15px;"><strong>出身地：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup90" name="birthplace" rows="2" cols=100% value={{ object.birthplace }}>{{ object.birthplace }}</textarea>
                    <small id="groupHelp90" class="form-text text-muted"><font size="2" color=black>例：）都道府県名　市町村名　学校名70期　アメリカ</font></small>
                </div>
                {% endif %}

                {% if object.haunting_area == None %}
                <div class="form-group">
                    <label for="formGroup100" style="font-size:15px;"><strong>出没エリア：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup100" name="haunting_area" rows="2" cols=100% value={{ object.haunting_area }}></textarea>
                    <small id="groupHelp100" class="form-text text-muted"><font size="2" color=black>例：）吉祥寺ハモニカ横丁　三鷹　中野中野飲み屋街　渋谷</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup110" style="font-size:15px;"><strong>出没エリア：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup110" name="haunting_area" rows="2" cols=100% value={{ object.haunting_area }}>{{ object.haunting_area }}</textarea>
                    <small id="groupHelp110" class="form-text text-muted"><font size="2" color=black>例：）吉祥寺ハモニカ横丁　三鷹　中野中野飲み屋街　渋谷</font></small>
                </div>
                {% endif %}

                {% if object.qualification == None %}
                <div class="form-group">
                    <label for="formGroup120" style="font-size:15px;"><strong>資格：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup120" name="qualification" rows="2" cols=100% value={{ object.qualification }}></textarea>
                    <small id="groupHelp120" class="form-text text-muted"><font size="2" color=black>例：）運転免許証　教育職員免許状</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup121" style="font-size:15px;"><strong>資格：</strong>(任意) (～100文字)</label><br>
                    <textarea class="form-control" id="formGroup121" name="qualification" rows="2" cols=100% value={{ object.qualification }}>{{ object.qualification }}</textarea>
                    <small id="groupHelp121" class="form-text text-muted"><font size="2" color=black>例：）運転免許証　教育職員免許状</font></small>
                </div>
                {% endif %}

                {% if object.language == None %}
                <div class="form-group">
                    <label for="formGroup130" style="font-size:13px;">言語：（任意）(～50文字)</label><br>
                    <textarea class="form-control" id="formGroup130" name="language" rows="2" cols=100% value={{ object.language }}></textarea>
                    <small id="groupHelp130" class="form-text text-muted"><font size="2" color=black>例：）日本語　英語</font></small>
                </div>
                {% else %}
                <div class="form-group">
                    <label for="formGroup131" style="font-size:13px;">言語：（任意）(～50文字)</label><br>
                    <textarea class="form-control" id="formGroup131" name="language" rows="2" cols=100% value={{ object.language }}>{{ object.language }}</textarea>
                    <small id="groupHelp131" class="form-text text-muted"><font size="2" color=black>例：）日本語　英語</font></small>
                </div>
                {% endif %}


                <div class="form-group">
                <label for="formGroup140" style="font-size:13px;">セクシュアリティ：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup140" name="sexuality" value={{ object.sexuality }} aria-describedby="groupHelp2">
                    {% for g in sexuality %}
                    {% if g.0 == object.sexuality %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup150" style="font-size:13px;">血液型：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup150" name="blood_type" value={{ object.blood_type }} aria-describedby="groupHelp2">
                    {% for g in blood_type %}
                    {% if g.0 == object.blood_type %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup160" style="font-size:13px;">年齢：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup160" name="age" value={{ object.age }} aria-describedby="groupHelp2">
                    {% for g in age %}
                    {% if g.0 == object.age %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup170" style="font-size:13px;">ルックス：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup170" name="looks" value={{ object.looks }} aria-describedby="groupHelp2">
                    {% for g in looks %}
                    {% if g.0 == object.looks %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup180" style="font-size:13px;">お酒：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup180" name="osake" value={{ object.osake }} aria-describedby="groupHelp2">
                    {% for g in osake %}
                    {% if g.0 == object.osake %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup190" style="font-size:13px;">性格：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup190" name="personality" value={{ object.personality }} aria-describedby="groupHelp2">
                    {% for g in personality %}
                    {% if g.0 == object.personality %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup200" style="font-size:13px;">身長 ㎝：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup200" name="height" value={{ object.height }} aria-describedby="groupHelp2">
                    {% for g in height %}
                    {% if g.0 == object.height %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp2" class="form-text text-muted">※ 身長を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup210" style="font-size:13px;">体重 ㎏：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup210" name="body_weight" value={{ object.body_weight }} aria-describedby="groupHelp3">
                    {% for g in weight %}
                    {% if g.0 == object.body_weight %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp3" class="form-text text-muted">※ 体重を選択してください。</small>-->
                </div>

                {% if gender %}
<!--                男性-->
                <div class="form-group">
                <label for="formGroup220" style="font-size:13px;">体型：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup220" name="body_shape_man" value={{ object.body_shape_man }} aria-describedby="groupHelp4">
                    {% for g in body_shape %}
                    {% if g.0 == object.body_shape_man %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp4" class="form-text text-muted">※ 体型を選択してください。</small>-->
                </div>

                {% else %}
<!--                女性-->
                <div class="form-group">
                <label for="formGroup230" style="font-size:13px;">体型：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup230" name="body_shape_woman" value={{ object.body_shape_woman }} aria-describedby="groupHelp5">
                    {% for g in body_shape %}
                    {% if g.0 == object.body_shape_woman %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp5" class="form-text text-muted">※ 体型を選択してください。</small>-->
                </div>
                {% endif %}

                <div class="form-group">
                <label for="formGroup240" style="font-size:13px;">結婚歴：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup240" name="marriage_history" value={{ object.marriage_history }} aria-describedby="groupHelp6">
                    {% for g in m_history %}
                    {% if g.0 == object.marriage_history %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp6" class="form-text text-muted">※ 結婚歴の有無を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup250" style="font-size:13px;">子供有無：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup250" name="children" value={{ object.children }} aria-describedby="groupHelp7">
                    {% for g in children %}
                    {% if g.0 == object.children %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp7" class="form-text text-muted">※ 子どもの有無を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup260" style="font-size:13px;">同居人：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup260" name="housemate" value={{ object.housemate }} aria-describedby="groupHelp7">
                    {% for g in housemate %}
                    {% if g.0 == object.housemate %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp7" class="form-text text-muted">※ 子どもの有無を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup270" style="font-size:13px;">タバコ：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup270" name="tobacco" value={{ object.tobacco }} aria-describedby="groupHelp8">
                    {% for g in tobacco %}
                    {% if g.0 == object.tobacco %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp8" class="form-text text-muted">※ タバコの吸わない／吸うを選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup280" style="font-size:13px;">学歴：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup280" name="education" value={{ object.education }} aria-describedby="groupHelp9">
                    {% for g in education %}
                    {% if g.0 == object.education %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp9" class="form-text text-muted">※ 学歴を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup290" style="font-size:13px;">お仕事：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup290" name="occupation" value={{ object.occupation }} aria-describedby="groupHelp10">
                    {% for g in occupation %}
                    {% if g.0 == object.occupation %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp10" class="form-text text-muted">※ 職業を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup300" style="font-size:13px;">運転免許証：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup300" name="drivers_license" value={{ object.drivers_license }} aria-describedby="groupHelp11">
                    {% for g in d_license %}
                    {% if g.0 == object.drivers_license %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp11" class="form-text text-muted">※ 運転免許証の有無を選択してください。</small>-->
                </div>

                <div class="form-group">
                <label for="formGroup310" style="font-size:13px;">年収：（任意）</label>
                <select class="form-control form-control-sm" id="formGroup310" name="annual_income" value={{ object.annual_income }} aria-describedby="groupHelp12">
                    {% for g in income %}
                    {% if g.0 == object.annual_income %}
                    <option value="{{ g.0 }}" selected> {{ g.0 }}</option>
                    {% else %}
                    <option value="{{ g.0 }}"> {{ g.0 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
<!--                <small id="groupHelp12" class="form-text text-muted">※ 年収を選択してください。</small>-->
                </div>

                <div class="form-row field-face_photo">
                    <div>
                        <label for="id_face_photo" style="font-size:13px;">顔写真:（任意）</label>
                        <p class="file-upload" style="font-size:13px;">現在: <a href="{{ face_photo_d }}">{{ object.face_photo }}</a>
                            <span class="clearable-file-input">
                                <input type="checkbox" name="face_photo-clear" id="face_photo-clear_id">
                                <label for="face_photo-clear_id" style="font-size:13px;">クリア</label></span><br>
                            変更:
                            <input type="file" name="face_photo" accept="image/*" id="id_face_photo"></p>
                    </div>
                </div>

                <div class="form-row field-photo1">
                    <div>
                        <label for="id_photo1" style="font-size:13px;">写真１:（任意）</label>
                        <p class="file-upload" style="font-size:13px;">現在: <a href="{{ photo1_d }}">{{ object.photo1 }}</a>
                            <span class="clearable-file-input">
                                <input type="checkbox" name="photo1-clear" id="photo1-clear_id">
                                <label for="photo1-clear_id" style="font-size:13px;">クリア</label></span><br>
                            変更:
                            <input type="file" name="photo1" accept="image/*" id="id_photo1"></p>
                        </div>
                </div>

                <div class="form-row field-photo2">
                    <div>
                        <label for="id_photo2" style="font-size:13px;">写真２:（任意）</label>
                        <p class="file-upload" style="font-size:13px;">現在: <a href="{{ photo2_d }}">{{ object.photo2 }}</a>
                            <span class="clearable-file-input">
                                <input type="checkbox" name="photo2-clear" id="photo2-clear_id">
                                <label for="photo2-clear_id" style="font-size:13px;">クリア</label></span><br>
                            変更:
                            <input type="file" name="photo2" accept="image/*" id="id_photo2"></p>
                        </div>
                </div>

                <div class="form-row field-photo3">
                    <div>
                        <label for="id_photo3" style="font-size:13px;">写真３:（任意）</label>
                        <p class="file-upload" style="font-size:13px;">現在: <a href="{{ photo3_d }}">{{ object.photo3 }}</a>
                            <span class="clearable-file-input">
                                <input type="checkbox" name="photo3-clear" id="photo3-clear_id">
                                <label for="photo3-clear_id" style="font-size:13px;">クリア</label></span><br>
                            変更:
                            <input type="file" name="photo3" accept="image/*" id="id_photo3"></p>
                        </div>
                </div>

                <button class="btn btn-primary ml-2 mt-3 mb-3" type="submit">更新</button>
                <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:profile_detail' object.pk %}">戻る</a>

            </form>

        </div>
    </div>
</div>

{% endblock %}
