{% extends 'base.html' %}
{% load static %}

{% block title %}友達紹介履歴詳細 | GPS-Live-Match{% endblock %}



{% block contents %}

<div class="container" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
    <div class="my-div-style w-100">

        <h3>友達紹介詳細</h3>
        <br>

        <div class="row my-row-style1">
                <strong>会員氏名：</strong>
        </div>
        <div class="row my-row-style1">
                {{ clientname }}  さん
        </div>
        <hr>

        <div class="row my-row-style1">
                <strong>お友達のお名前：</strong>
        </div>
        <div class="row my-row-style1">
                {{ object.friend_name }}
        </div>
        <hr>

        <div class="row my-row-style1">
                <strong>お友達のメールアドレス：</strong>
        </div>
        <div class="row my-row-style1">
                {{ object.friend_email }}
        </div>
        <hr>

        <div class="row my-row-style1">
                <strong>お友達の会員登録状況：</strong>
        </div>
        <div class="row my-row-style1">
                {{ object.status }}
        </div>
        <hr>
            <a class="btn btn-success mt-5 ml-2 mb-3" href="{% url 'live:refer_friend_list_history' %}">戻る</a>
            <a class="btn btn-success mt-5 ml-2 mb-3" href="{% url 'live:index' %}">ホーム</a>

    </div>
</div>
{% endblock %}