{% extends 'base.html' %}

{% load static %}

{% block active_card %}active{% endblock %}

{% block title %}デフォルトカード | GPS-Live-Match{% endblock %}


{% block contents %}

<div class="container" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
    <div class="my-div-style w-100">

        <div class="mainTitle">デフォルトカード</div>
        {% if nickname %}
        <p class="nickname">{{ nickname }} さん</p>
        {% endif %}
        <p class="text-center">下記のカードを「デフォルトカード」に設定しました。</p>


        <div class="row my-row-style1">
            <div class="grid-container my-5">
                <div class="head">カード</div>
                <div class="value">{{ card }}</div>
                <div class="head">ナンバー</div>
                <div class="value">{{ last }}</div>
            </div>
        </div>
        <br>

            <a class="link-plane" href="{% url 'live:index' %}">ホーム</a>
    </div>

</div>

{% endblock %}