{% extends 'base.html' %}
{% load static %}

{% block active_card %}active{% endblock %}

{% block title %}登録カード一覧 | GPS-Live-Match{% endblock %}

{% block contents %}

<div class="container">
    <div class="my-div-style w-100">
        <h6>登録カード一覧</h6>
        {% if nickname %}
        <p>{{ nickname }} さん</p>
        {% endif %}

        <div  class="row my-row-style1" style="margin: 30px 0px 10px 0px; ">
            {% if card_list %}

            <table class="table table-hover">
              <thead class="table-active">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">card</th>
                  <th scope="col">number</th>
                  <th scope="col">availability</th>
                </tr>
<!--                <tr>-->
<!--                  <th scope="col">#</th>-->
<!--                  <th scope="col">cardカードブランド名</th>-->
<!--                  <th scope="col">カードナンバー下4桁</th>-->
<!--                  <th scope="col">カード利用可/不可</th>-->
<!--                </tr>-->
              </thead>
              <tbody>
              {% for card in card_list %}
                <tr>
                  <th scope="row">{{ card.0 }}</th>
                  <td>{{ card.1 }}</td>
                  <td>{{ card.2 }}</td>
                  <td>{{ card.3 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>カードは未登録です。<br>
            カード登録は「カード登録」メニューで登録できます。</p>

            {% endif %}


        </div>

<!--        <a class="btn btn-success mt-5 ml-2 mb-3" href="{% url 'live:index' %}">ホーム</a><br><br>-->


    </div>
</div>

{% endblock %}
