{% extends 'base.html' %}
{% load static %}

{% block title %}クレジットカード登録 | GPS-Live-Match{% endblock %}

{% block contents %}

<div class="container">
    <div class="my-div-style w-100">
        <h4>クレジットカード登録</h4>

        <div  class="row my-row-style1" style="margin: 30px 0px 10px 0px; ">

            <p class="text-center">
                {% if token %}
                    {% if errors_customer or errors_cards %}
                        クレジットカードの登録ができませんでした。
                    {% else %}
                        クレジットカードを登録しました。<br>
                        クレジットカードは複数登録することができます。<br>
                        「カード登録」メニューから登録してください。
                    {% endif %}
                {% else %}
                    クレジットカードの登録ができませんでした。<br>
                    有効期限などをお確かめのうえ再登録お願いいたします。
                {% endif %}
            </p>
            


        </div>

        <a class="link-plane my-5" href="{% url 'live:index' %}">ホーム</a><br><br>


    </div>
</div>

{% endblock %}
