{% extends "base.html" %}
{% load static %}

{% block title %}さがす{% endblock %}
{% block body_class %}search guest-user{% endblock %}

{% block contents %}

    <section class="advice">
        <ul>
            <li class="task"><a href="{% url 'mypage' %}">プロフィールを充実させよう！</a></li>
            <li class="question">
                <a href="/">
                    <p>ぼかしをとるには？</p>
                    <span>有料会員になるといいことがこんなにたくさん！</span>
                </a>
            </li>
            <li class="question">
                <a href="/">
                    <p>無料と有料の違いは？</p>
                    <span>全然違うよ！有料のほうが絶対おすすめ！</span>
                </a>
            </li>
        </ul>
        <div class="lciq">
            <div class="logo">
                <img src="{% static 'img/lciq-logo.svg' %}" alt="">
            </div>
            <p><a href="https://exm.lciq.jp/" target="_blank">まずは今の自分をしることから！（所要時間5〜10分）</a></p>
        </div>
    </section>

    <section class="newface swiper">
        <div class="head">
            <div class="title">新規会員様</div><a href="newface.html">もっと見る</a>
        </div>
        <div class="newface__wrap swiper-wrapper loop">
            <div class="box swiper-slide">
                <div class="profile">
                    <img src="{% static 'img/nf1.webp' %}" alt="">
                </div>
                <p>22歳 神奈川</p>
            </div>
            <div class="box swiper-slide">
                <div class="profile">
                    <img src="{% static 'img/nf2.webp' %}" alt="">
                </div>
                <p>24歳 茨城</p>
            </div>
            <div class="box swiper-slide">
                <div class="profile">
                    <img src="{% static 'img/nf3.webp' %}" alt="">
                </div>
                <p>29歳 東京</p>
            </div>
        </div>
    </section>

    <section class="feed">
        <div class="feed__wrap loop">
            <div class="box">
                <div class="box__wrap">
                    <div class="profile image">
                        <img src="{% static 'img/smp1.webp' %}" alt="">
                    </div>
                    <div class="area">
                        <div class="area__wrap">
                            <div class="left">
                                <div class="name__area">
                                    <span class="name">みさと</span>
                                    <span class="age">24</span>
                                    <span class="city">東京</span>
                                </div>
                                <div class="info__area">
                                    <div class="title">職業</div>
                                    <div class="job">看護師</div>
                                    <div class="title">休日</div>
                                    <div class="off">土日祝日</div>
                                    <div class="title">マッチ後</div>
                                    <div class="afterMatch">まずは会いたい</div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="lciq-point">85</div>
                                <div class="image"><img src="{% static 'img/lciq-sample.webp' %}" alt=""></div>
                            </div>
                        </div>
                        <p>
                            みさとです。趣味は映画鑑賞、ゴルフ（まだヘタですが、、）旅行や温泉も好きです。
                            職場など出会いがなく、将来も見据えて良い出会いがあればなと、登録してみました。よろしくお願いします。
                        </p>
                    </div>
                </div><!-- box__wrap -->
                <div class="btn__area">
                    <button class="like" data-color="blue">いいね</button>
                    <button class="message" data-color="pink">メッセージ</button>
                </div>
            </div><!-- box -->
        </div><!-- feed__wrap -->
    </section>

{% endblock %}
