{% extends 'base.html' %}

{% block title %}サービス内容 | GPS-Live-Match{% endblock %}

{% block active_terms_service %}active{% endblock %}
{% block head %}

 <style>
ul.f_s { font-size: 14px; }
</style>

{% endblock %}

{% block contents %}

<div class="container service">
    <div class="my-div-style w-100">

        <div class="mainTitle">サービス内容</div>
        <div class="nickname">{{ nickname }} さん</div>
        <div class="row my-row-style1">
            <div class="list-group">
                <ul class="list-group">
                    <li><a href="{% url 'live:services_provided' %}">いまココぼっち</a></li>
                    <li><a href="{% url 'live:faq' %}">よくある質問</a></li>
                    <li><a href="{% url 'live:price_list' %}">料金体系</a></li>
                    <li><a href="{% url 'live:business_flow' %}">利用フロー</a></li>
                    <li><a href="{% url 'live:service_area' %}">サービスエリア</a></li>
                    <li><a href="{% url 'live:terms_service' %}">会員規約</a></li>
                    <li><a href="{% url 'live:operation' %}">会社概要</a></li>
                    <li><a href="{% url 'live:bank_accounts' %}">銀行口座</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}



