{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}提供サービス | GPS-Live-Match{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<!--                課金体系フラグ １：定額課金（EXMATCH） ０：従量課金（LIVEMATCH）-->
{% if m_b_f == 0 %}
{% if mes_m == '' %}

<div class="container">
    <div class="my-div-style w-100">
        <h5>{{ trade_name }} とは</h5><br>
        <div class="row my-row-style1">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <p><strong><font color="red">「いまココぼっち」とは、、、</font></strong></p>
                            <P><strong># いますぐ逢える</strong><br>
                                <strong># 地域・エリアで繋がる</strong><br>
                                <strong># ひとりぼっちの友達探し</strong><br><br></P>
                            <ul>
                                <li>いまココぼっちは、リアルタイムで、いま近くにいるお友達・仲間が見つかる、マッチングサイトです。</li>
                                <li>ひとり飲みの場で、イベント会場で、スポーツ・アウトドア・ビジネス交流・おしゃべり・お花見・ゲームの相手など、あなたの目的に合った出逢いを全力サポート！</li>
                                <li>恋愛対象から、同性の気の合う仲間まで、今すぐ新しいお友達をGETしよう！</li>
                            </ul>

                        </td>
                    <tr>
                    <tr>
                        <td>
                            <p><strong><font color="red">ログイン画面</font></strong></p>
                            <ul>
                                <Li>検索ページでは半径{{ radius }}ｍの円内の、ランダムな位置に場所が表示されます。</Li>
                                <Li>個人の正確な位置情報は、検索ページではご確認頂けません。</Li>
                                <Li>ログアウト時に、位置情報は廃棄されます。</Li>
                                <Li>位置情報取得の「許可」の設定方法は、<a href="{% url 'live:location_permission' %}" target="_blank" rel="noopener">コチラ</a></Li>
                                <Li>GPS 位置情報を登録してお友達を探すとリアルタイムで近くのお友達が見つかります！</Li>
                            </ul>

                            <!--                    <p>位置情報取得の「許可」の設定方法は、<a href="https://busit.jp/howto/location_reset.html" target="_blank" rel="noopener">こちら</a>を参照<br></p>>-->
                            <!--                            <P>※ 緑のマーカーは、あなたの現在位置です。<br>-->
                            <!--                ※ 個人情報保護のため、人のマーカーが他の方から実際に参照される現在位置です。<br>-->
                            <!--                ※ 人のマーカー位置は、半径{{ radius }}ｍの円内のランダムな位置を自動で設定しています。<br>-->
                            <!--                ※ 「ＯＫ」ボタンをクリックして、「今何している！」を入力してください。</P>-->

                        </td>
                    <tr>
                        <td>
                            <img class="img-fluid" src="{% static 'img/latlng.jpg' %}" alt="https://exmatch.jp/">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong><font color="red">GPS-Live検索画面</font></strong></p>
                            <ul>
                                <li>現在、ログイン中の会員さんの現在位置です。</li>
                                <li>個人情報保護のため、実際の位置は、半径{{ radius }}ｍの円内のランダムな位置を自動で設定しています。</li>
                                <li>男性は緑、女性はピンクのマーカー表示です。</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="img-fluid" src="{% static 'img/latlng-login.jpg' %}" alt="https://exmatch.jp/">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <ol>
                                <li><strong>ＧＰＳ（全地球測位システム）を利用した、仲間・友達マッチングサービス</strong><br>
                                    <p>ログイン時の位置情報を取得し、その地点から算出された半径300ｍ円内に、会員さんの現在地を表示しています。<br><br>
                                        位置情報を示すマーカーは、円内のランダムな場所に表示される為、個人の正
                                        確な地点を特定するものではありません。<br><br>
                                        登録したプロフィール情報は、検索の際に使用されます。
                                        （キーワードや趣味など、多く項目を入力する事で、他の会員さまとマッチン
                                        グしやすくなります。）<br><br>
                                        プロフィールを確認し、相互に『いいね』を押すとマッチング❤となり、チャッ
                                        トが開始できます。<br><br>
                                        メッセージ送信では、個人情報を特定する、電話番号、ＳＮＳアカウント、メ
                                        ールアドレス等を入力する事は出来ません。
                                        （ただし、同じ相手と{{ maximum_number_message_checks }}回以上メッセージ交換をした時点で、入力ＯＫとな
                                        ります。）<br><br>
                                        チャットルームでは、30分間（１セッション）、フリーでメッセージ交換が可能になります。<br>
                                        最大（{{ maximum_number_chats }}セッション）チャットを行うことができます。 {{ chat_constraint_release_count }} セッションを超えるとSNSアカウント等の個人情報交換も自由です。<br><br>
                                        詳しくは、<a href="{% url 'live:terms_service' %}" target="_blank" rel="noopener">コチラ</a><br><br></p>

                                    <!--                  ログインした会員Aの位置情報をGPSを利用して特定し、<br>-->
                                    <!--                  個人情報保護するために特定した位置を中心とする半径ｎメートルの円内のランダムな位置情報を算出し、<br>-->
                                    <!--                  これを会員Aの現在の位置情報としてマーカーで地図上に表示します。<br>-->
                                    <!--                  不特定多数の会員は地図上のマーカーをクリックすることでその会員のプロフィールを参照することができます。<br>-->
                                    <!--                  もし会員Bが会員Aのプロフィールに興味があれば「いいね！」ボタンをクリックします。<br>-->
                                    <!--                  「いいね！」された会員Aにはリアルタイムで会員Bから「いいね！」された旨のメール送信をします。<br>-->
                                    <!--                  会員Aも会員Bのプロフィールを参照して興味があれば「いいね！」ボタンをクリックして相互に「いいね！」となると、<br>-->
                                    <!--                  次はリアルタイムのチャットを行うことができます。<br>-->
                                    <!--                  システムで定めたm回未満のチャット回数では電話番号、メールアドレス、URLなどの直接連絡先のわかる情報を交換することはできませんが、<br>-->
                                    <!--                  m回以上のチャット回数になると電話番号、メールアドレス、URLの情報交換ができるようになり、<br>-->
                                    <!--                  最終的にお互いに連絡先を取得することができます。これで紹介サービスは完了します。</li><br>-->
                                <li><strong>登録情報に基づく、仲間・友達マッチングサービス</strong><br>
                                    <p>プロフィール情報を基に、全ての会員を検索する事が出来ます。<br>
                                        マッチング❤した相手とは、チャット画面を通じて、会話が可能です。</p>
                                    <!--                  GPSを利用しないでプロフィール検索をして、相互に「いいね！」しチャットでお互いの連絡先を取得することができます。</li><br>-->
                                <li><strong>当サイトを利用した、集客マーケティングサービス</strong><br>
                                    <p>『ぼっち認定店』として当サイトに登録のうえ、『ひとりでも行きやすいお店』『初めてでも待ち合わせしやすいお店』としてＰＲする事により、集客をアップさせることが出来ます。<br>
                                        また、登録店さまのご紹介や宣伝等を、当オフィシャルＳＮＳアカウント内で無料で行います。</p>
                                    <!--                  例えば、居酒屋がGPSを利用したリアルタイム・マッチングサービスを不特定多数の方に告知（QRコード、ブログなどで）して、<br>-->
                                    <!--                  このサービスでマッチングしたお客様が来店することでお店の集客をアップすることができます。</li><br>-->
                                <li><strong>当システムを利用した、リアルタイムマッチングゲームサービスＡ</strong><br>
                                    <p>同一会場内（店内・イベント会場等）で、マッチングイベント（ゲーム大会等）を開催することが出来ます。</p>
                                    <!--                  店内（同一会場内）のお客同士のゲームで、GPSを利用したリアルタイム・マッチングでいかに早くマッチングできたかを競い、<br>-->
                                    <!--                  最短時間でマッチングできたペアの方に賞品を授与する等のゲームをイベント企画して集客をすることができます。</li><br>-->
                                <li><strong>当システムを利用した、リアルタイムマッチングゲームサービスＢ</strong><br>
                                    <p>一定の地域内やエリアで、マッチングイベントを開催する事が出来ます。（街コンなど）</p>
                                    <!--                  複数のお店間で、リアルタイム・マッチング・ゲームを企画して集客をすることができます。<br><br>-->
                                    会場：飲食店、居酒屋、イベント会場など種々の会場</li><br>
                            </ol>
                        </td>
                    </tr>
                </table>
            </div>

            <ul><li>当サイトは、あなたの“ぼっち度”を、下げるお手伝いをします！</li></ul>
            <ul><li>サイトご利用方法</li></ul>

            <p><b>【近くにいるお友達検索】</b><br></p>

            <ol>
                <li>
                    会員登録
                </li>
                <li>
                    ログイン
                </li>
                <li>
                    位置情報登録
                </li>
                <li>
                    「今何してる！」近況登録
                </li>
                <li>
                    「近くのお友達を地図上で確認
                </li>
                <li>
                    プロフィール確認→いいね！
                </li>
                <li>
                    相互「いいね！」でマッチング
                </li>
                <li>
                    チャット開始
                </li>
                <li>
                    ぼっち終了
                </li>

            </ol>
            <p><b>【プロフィールお友達検索】</b></p>
            <ol>
                <li>
                    会員登録
                </li>
                <li>
                    ログイン
                </li>
                <li>
                    キーワードからプロフィール確認→いいね
                </li>
                <li>
                    相互「いいね！」でマッチング
                </li>
                <li>
                    チャット開始
                </li>
                <li>
                    ぼっち終了

                </li>
            </ol>


            <!--            <div class="table-responsive">-->
            <!--                <table class="table table-hover">-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            当サイトは、あなたの<strong>”ぼっち”度</strong>を楽しく下げるお手伝いをします！-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            「<strong>ぼっち</strong>」とは、スラングとして孤独、一人ぼっちを指す、友達がおらずいつも1人でいる様子。（ウィキペディアより）-->
            <!--                        </td>-->
            <!--                    </tr>-->

            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            ◇ お昼ご飯を一緒に食べる人がいないときは寂しい-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            ◇ お酒を飲むとき一人飲みだと寂しい-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            ◇ スタバでコーヒーを一緒に飲む人がいないと寂しい-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            ◇ 友達がいるから“ぼっち”だと感じない-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--                            ◇ 常に一緒にいる人がいないと不安」（“ぼっち”度17％）-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>-->
            <!--            <br><h6>提供サービスの流れ</h6><br>-->

            <!--            <ol>-->
            <!--              <li>ログイン全員の位置情報をリアルタイムに地図上にマーカーで表示</li><br>-->
            <!--              <li>男性は緑、女性はピンクの地図上のマーカーのクリニックでプロフィールが見える</li><br>-->
            <!--              <li>今のあなたの「今何してる！」を書き込むと、オンラインで会員へ伝わる</li><br>-->
            <!--              <li>リアルタイムに「いいね！」を気になる方<br>（男性から女性、女性から男性、男性から男性、女性から女性）へ通知</li><br>-->
            <!--              <li>気になる方とチャットで気持ち交換！</li><br>-->
            <!--              <li>気が合えばリアルタイムに会える</li><br>-->
            <!--              <li>”ぼっち”度改善！</li><br>-->
            <!--            </ol>-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    </table>-->
            <!--            </div>-->

            <!--        </div>-->
            <!--            <a class="btn btn-success ml-2 mt-3 mb-3" href="{% url 'live:index' %}">ホーム</a>-->

        </div>
    </div>
</div>

{% else %}
<p>{{ mes_m }}</p>
{% endif %}

{% else %}

<div class="container">
    <div class="my-div-style w-100">
        <h5>EXMATCHとは</h5><br>

        <div class="row my-row-style1">
            {% if mes_m == '' %}

            <p>EXMATCHのサイト内容・特徴などを記述</p>

            {% else %}
            <p>{{ mes_m }}</p>
            {% endif %}

        </div>
    </div>
</div>
{% endif %}


{% endblock %}


