{% extends 'base.html' %}
{% load static %}

{% block active_terms_service %}active{% endblock %}
{% block active_terms_service_logout %}active{% endblock %}

{% block title %}利用規約 | GPS-Live-Match{% endblock %}

{% block head %}

{% endblock %}

{% block contents %}
<!--                課金体系フラグ １：定額課金（EXMATCH） ０：従量課金（LIVEMATCH）-->
{% if m_b_f == 0 %}
{% if mes_m == '' %}

<div class="container">
    <div class="my-div-style w-100">
        <div class="row my-row-style1">
            <h5>会員規約</h5><br><br>
                        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <td>
                        会員規約<br>
                        この会員規約（以下、「本規約」といいます。）は、株式会社エクスマリー（以下、「弊社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録会員の皆さま（以下、「会員」といいます。）には、本規約に従って、本サービスをご利用いただきます。
本サービスは、「資金決済に関する法律」上の『前払支払手段』として、同法律の適用対象となります。<br><br>
                        第1条（適用）<br>
                        <ol>
                            <li>本規約は、会員と弊社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li><br>
                            <li>弊社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。</li><br>
                            <li>本規約の規定が前条の個別規定の規定と矛盾する場合以外は、本規約と他の規定が重複して適用されるものとします。</li><br>
                        </ol>

第2条（弊社の基本方針）<br>
弊社は、コミュニティサイト運営業者として、 各種法令および善良な社会通念、 反社会勢力の排除を厳格に遵守することを社是とし、 18歳に満たない児童（高校生を含みます）のサイト利用防止を最重点課題として運営することとします。<br><br>

                        第3条（会員登録・会員資格）<br>
                        <ol>
                            <li>本サービスにおいては、登録希望者が本規約に同意の上、当社の定める方法によって利用登録を申請し、弊社がこれを承認することによって、利用登録が完了するものとします。</li><br>
                            <li>弊社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。</li><br>
                            <ol>
                                <li>利用登録の申請に際して虚偽の事項を届け出た場合</li><br>
                                <li>本規約に違反したことがある者からの申請である場合</li><br>
                                <li>その他、弊社が利用登録を相当でないと判断した場合</li><br>
                            </ol>
                            <li>定額利用サービスの登録は、毎月26日までに登録した場合は、当月から適応する事とし、28日以降は翌月から適応するものとします。（27日は登録不可）</li><br>
                            <li>本サービスは18歳以上の個人でなければ利用できないものとします。ただし、18歳に達していても高校生は利用できないものとします。</li><br>
                        </ol>
                        第4条（ユーザー/会員IDおよびパスワードの管理）<br>
                        <ol>
                            <li>会員は、自己の責任において、本サービスの会員IDおよびパスワードを適切に管理するものとします。</li><br>
                            <li>会員は、いかなる場合にも、会員IDおよびパスワードを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。当社は、会員IDとパスワードの組み合わせが登録情報と一致してログインされた場合には、その会員IDを登録している会員自身による利用とみなします。</li><br>
                            <li>会員ID及びパスワードが第三者によって使用されたことによって生じた損害は、当社に故意又は重大な過失がある場合を除き、当社は一切の責任を負わないものとします。</li><br>
                        </ol>
                        第5条（禁止事項）<br>
                        会員は、本サービスの利用にあたり、以下の行為をしてはなりません。<br>
                        <ol>
                            <li>法令または公序良俗に違反する行為</li><br>
                            <li>犯罪行為に関連する行為</li><br>
                            <li>弊社、本サービスの他の会員、または第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li><br>
                            <li>弊社のサービスの運営を妨害するおそれのある行為</li><br>
                            <li>他の会員に関する個人情報(メールアドレス、LINEID、SNSサービス)等を収集または蓄積する行為</li><br>
                            <li>不正アクセスをし、またはこれを試みる行為</li><br>
                            <li>他の会員に成りすます行為</li><br>
                            <li>弊社のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li><br>
                            <li>弊社、本サービスの他の会員または第三者の知的財産権、肖像権、プライバシー、名誉その他の権利または利益を侵害する行為</li><br>
                            <li>以下の表現を含み、または含むと弊社が判断する内容を本サービス上に投稿し、または送信する行為</li><br>
                            <ol>
                                <li>過度に暴力的な表現</li><br>
                                <li>露骨な性的表現</li><br>
                                <li>人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現</li><br>
                                <li>自殺、自傷行為、薬物乱用を誘引または助長する表現</li><br>
                                <li>その他反社会的な内容を含み他人に不快感を与える表現</li><br>
                            </ol>
                            <li>以下を目的とし、または目的とすると当社が判断する行為</li><br>
                            <ol>
                                <li>営業、宣伝、広告、勧誘、その他営利を目的とする行為（当社の認めたものを除きます。）</li><br>
                                <li>性行為やわいせつな行為を目的とする行為</li><br>
                                <li>他の会員に対する嫌がらせや誹謗中傷を目的とする行為</li><br>
                                <li>弊社、本サービスの他の会員、または第三者に不利益、損害または不快感を与えることを目的とする行為</li><br>
                                <li>その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li><br>
                            </ol>
                            <li>宗教活動または宗教団体への勧誘行為</li><br>
                            <li>その他、弊社が不適切と判断する行為</li><br>
                        </ol>
                        第6条（利用制限および登録抹消）<br>
                        <ol>
                            <li>弊社は、会員が以下のいずれか、もしくは本規約に定めた禁止行為に該当すると弊社が判断した場合には、事前の通知なく、会員に対して、本サービスの全部もしくは一部の利用を制限し、または会員としての登録を抹消することができるものとします。</li><br>
                            <ol>
                                <li>本規約のいずれかの条項に違反した場合</li><br>
                                <li>登録事項に、虚偽の事実があることが判明した場合</li><br>
                                <li>料金等の支払債務の不履行があった場合</li><br>
                                <li>弊社からの連絡に対し、一定期間返答がない場合</li><br>
                                <li>本サービスについて、最終の利用から一定期間利用がない場合</li><br>
                                <li>その他、弊社が本サービスの利用を適当でないと判断した場合</li><br>
                            </ol>
                            <li>弊社は、本条に基づき弊社が行った行為により会員に生じた損害について、一切の責任を負いません。</li><br>
                            <li>弊社は、本規約に違反したと判断し登録抹消した会員については、その理由の開示責任は負わないものとし、ポイント等の返還は一切行わないものとします。</li><br>
                        </ol>
                        第7条（利用料金および支払方法）<br>
                        <ol>
                            <li>会員は、本サービスの有料部分の対価として、弊社が別途定め、本ウェブサイトに表示する利用料金を、弊社が指定する方法により支払うものとします。</li><br>
                            <li>定額利用サービス（プレミアムぼっち）)利用の際の引落し日は、毎月27日となります。（金融機関の事情により、翌営業日になる場合があります。）</li><br>
                            <li>会員は、購入申込をした後は、いかなる理由によっても購入申込を撤回、 または取り消しをできないものとします。</li><br>
                        </ol>
                        第8条（ポイント）<br>
                        <ol>
                            <li>会員は、有料サービス利用の対価としてポイントの購入を希望する場合、 弊社が別途定める方法により自ら事前購入申込を行うものとします。</li><br>
                            <li>弊社は、いかなる理由によっても、会員が購入したポイントの払い戻し返還、再発行等は一切行わないものとします。</li><br>
                            <li>弊社は、会員に対してポイントを付与することにより購入申込を承諾するものとし、 弊社がポイントを付与した時点で、ポイント購入契約が成立するものとします。</li><br>
                            <li>弊社は、不正利用または不正獲得にもとづくと判断した「友達紹介・アンケート回答」で獲得したポイント等については、理由を問わず全て無効とします。</li><br>
                            <li>弊社は、会員が再登録する際には、新規登録ポイントの付与は行わないものとします。</li><br>
                        </ol>
                        第9条（著作権）<br>
                        <ol>
                            <li>会員は、自ら著作権等の必要な知的財産権を有するか、または必要な権利者の許諾を得た文章、画像や映像等の情報に関してのみ、本サービスを利用し、投稿ないしアップロードすることができるものとします。</li><br>
                            <li>会員本サービスを利用して投稿ないしアップロードした文章、画像、映像等の著作権については、当該ユーザーその他既存の権利者に留保されるものとします。ただし、弊社は、本サービスを利用して投稿ないしアップロードされた文章、画像、映像等について、本サービスの改良、品質の向上、または不備の是正等ならびに本サービスの周知宣伝等に必要な範囲で利用できるものとし、ユーザーは、この利用に関して、著作者人格権を行使しないものとします。</li><br>
                            <li>前項本文の定めるものを除き、本サービスおよび本サービスに関連する一切の情報についての著作権、およびその他の知的財産権は、すべて弊社または弊社にその利用を許諾した権利者に帰属し、ユーザーは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます。）、伝送、配布、出版、営業使用等をしてはならないものとします。</li><br>
                        </ol>
                        第10条　LINEアカウント連携手続き<br>
                        <ol>
                            <li>本サービスでは、当社が定める手順に従って、他社が運営するサービス（LINE公式アカウント）との連携（以下「連携サービス」といいます。）を行うことが必要です。ただし、連携サービスは、利用者本人が行うものとします。</li><br>
                            <li>利用者は、連携サービスを行うにあたり、外部サービスの運営会社に登録された利用者に関する情報（以下「外部サービス情報」といいます。）を当社が取得し、当社の本サービスにおいて表示する場合があることを承諾するものとします。</li><br>
                            <li>利用者が本サービスを利用するにあたり、当社が外部サービス情報を利用することについての許可を求めます。利用者がこれを許可した場合、連携サービスが利用できるものとします。</li><br>
                            <li>利用者は、いつでも連携サービスを解除する事が出来ます。この場合、当社が指定する方法により、自身の責任で行うこととします。</li><br>
                            <li>当社は、取得した外部サービス情報についての利用目的、及びその他取り扱いに関する事項については、当社が別途定めるプライバシーポリシーに従い取り扱うものとします。</li><br>
                            <li>外部サービスへのアカウントの登録・利用（書き込み内容及び投稿等の行為を含む。）について、利用者は、外部サービスが定める各規約に従うものとします。</li><br>
                            <li>利用者は、外部サービスにおけるアカウントの登録・管理等を自己の責任において行うものとします。</li><br>
                            <li>利用者の外部サービスのアカウント及びパスワードの管理不十分、使用上の過誤、第三者の使用等により、利用者又は第三者に損害が生じたとしても、その責任は利用者が負うものとし、当社は一切責任を負いません。また、かかる事由により、当社が損害を負った場合には、利用者はその一切の責任を負い、当社が被った一切の損害及び損失を賠償又は補償するものとします。</li><br>
                            <li>外部サービスを利用する場合、利用者は、自己の責任において当該サービスを利用するものとし、当社は、当該サービスを利用したことにより生じた損害、当該サービスの主催者・利用者等との間に生じたトラブルその他の当該サービスに関連する一切の事項について何らの責任も負わないものとします。</li><br>
                        </ol>
                        第11条（情報の削除）<br>
                        弊社は、本規約に基づく禁止行為等に該当すると判断した投稿等については、会員の事前通告なしに削除出来るものとします。その場合、削除理由の責任は負わないものとし、また利用したポイントの返還も行わないものとします。<br><br>
                        第12条（退会）<br>
                        <ol>
                            <Li>会員は、本サービス内の退会画面からいつでも自由に退会することができます。 退会に伴う退会料等の発生は一切ありません。</Li><br>
                            <Li>定額利用サービス（プレミアムぼっち会員）については、登録日から60日以上経過後、退会手続きが可能になります。また退会月は、当該月の利用分が課金されることとします。</Li><br>
                            <Li>退会時に残ポイントがある場合、残ポイントは消滅します。</Li><br>
                            <Li>会員が自ら希望し、本サービスから退会した場合の再登録はいつでも可能とします。</Li><br>
                        </ol>
                        第13条（本サービスの提供の停止等）<br>
                        <ol>
                            <li>弊社は、以下のいずれかの事由があると判断した場合、会員に事前に通知することなく、本サービスの全部または一部の提供を、停止または中断することができるものとします。</li><br>
                            <ol>
                                <Li>本サービスにかかるコンピュータシステムの保守点検、または更新を行う場合</Li><br>
                                <Li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</Li><br>
                                <Li>コンピュータまたは通信回線等が事故により停止した場合</Li><br>
                                <Li>その他、弊社が本サービスの提供が困難と判断した場合</Li><br>
                            </ol>
                            <li>弊社は、本サービスの提供の停止または中断により、会員または第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</li><br>
                        </ol>
                        第14条（保証の否認および免責事項）<br>
                        <ol>
                            <Li>弊社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを、明示的にも黙示的にも保証しておりません。</Li><br>
                            <Li>弊社は、本サービスに起因して会員に生じたあらゆる損害について、弊社の故意又は重過失による場合を除き、一切の責任を負いません。ただし、本サービスに関する弊社と会員との間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</Li><br>
                            <Li>前項ただし書に定める場合であっても、弊社の過失（重過失を除きます。）による債務不履行または不法行為により会員に生じた損害のうち、特別な事情から生じた損害（弊社または会員が損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、弊社の過失（重過失を除きます。）による債務不履行、または不法行為により会員に生じた損害の賠償は、会員から当該損害が発生した月に受領した利用料の額を上限とします。</Li><br>
                            <Li>弊社は、本サービスに関して、会員と他の会員または第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</Li><br>
                        </ol>
                        第15条（サービス内容の変更等）<br>
                        弊社は、会員への事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、会員はこれを承諾するものとします。<br><br>
                        第16条（利用規約の変更）<br>
                        <ol>
                            <li>弊社は以下の場合には、会員の個別の同意を要せず、本規約を変更することができるものとします。</li><br>
                            <ol>
                                <Li>本規約の変更が会員の一般の利益に適合するとき。</Li><br>
                                <Li>本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</Li><br>
                            </ol>
                            <li>弊社は会員に対し、前項による本規約の変更にあたり、事前に本規約を変更する旨、及び変更後の本規約の内容、並びにその効力発生時期を通知します。</li><br>
                        </ol>
                        第17条（個人情報の取扱い）<br>
                        弊社は、本サービスの利用によって取得する個人情報については、弊社「プライバシーポリシー」に従い適切に取り扱うものとします。<br><br>
                        第18条（通知または連絡）<br>
                        会員と弊社との間の通知または連絡は、弊社の定める方法によって行うものとします。弊社は、会員から、弊社が別途定める方式に従った変更届け出がない限り、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは、発信時に会員へ到達したものとみなします。<br><br>
                        第19条（権利義務の譲渡の禁止）<br>
                        会員は、弊社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。<br><br>
                        第20条（損害賠償の請求）<br>
                        会員が本規約に反した行為、または不正、若しくは違法に本サービスを利用したことにより弊社に損害を与えた場合、弊社は、当該会員に対し、賠償請求を行うことができるものとします。<br><br>
                        第21条（準拠法・裁判管轄）<br>
                        <ol>
                            <Li>本規約の解釈にあたっては、日本法を準拠法とします。</Li><br>
                            <Li>本サービスに関して紛争が生じた場合には、当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</Li><br>
                        </ol>


<!--            <ol>-->
<!--              <li>会員登録料、年会費等は一切無料です。プロフィール検索して、「いいね！」があった場合から利用料が発生します。</li><br>-->
<!--              <li>当サイトをご利用するには、クレジットカードまたはデビットカードが必要です。<br>当サイトでお客さまのカード情報は一切保有しません。<a href="https://squareup.com/jp/ja">Square</a>カード決済サービスを当サイトでは利用します。<br>お客さまがクレジットカードを使用または情報を入力した時点からSquareの処理環境に届くまで、決済データは暗号化されます。Square独自のトークン化スキームにより、暗号化されていない決済データが端末やアプリケーションに保存されることはありません</li><br>-->
<!--              <li>当サイトでは、「ポイント」で運用します。1ポイントは1円です。<br>ポイントはいつでも購入できますが、各月の{{ card_payment_date }}日のいずれかの日がカード決済日（会員登録時に自動で決済日を設定します。）となり、ご利用料は自動引き落とししますので「ポイント購入」は任意です。</li><br>-->
<!--              <li>「プロフィール検索サービス」は、あなたに代わって自動でプロフィール検索します。条件にマッチした会員の「ニックネーム」をメールにてご連絡いたします。</li><br>-->
<!--              <li>「プロフィール検索サービス」は、サブスクリプション方式で、ご利用料は、毎月20日が締日で、請求日は次の日付{{ billing_date_candidate }}のいずれかとなります。請求日は会員登録時に自動で設定します。（最大：{{ maximum_fee }}円以下）</li><br>-->
<!--              <li>18歳未満の方は当サイトを利用できません。</li><br>-->
<!--              <li>当サイトは、「インターネット異性紹介事業開始届出」済です。（登録番号：三鷹22-004381）</li><br>-->
<!--              <li>当サイトで取得した位置情報は、ログアウト時点で破棄されて保持はしません。</li><br>-->
<!--              <li>{{ trade_name }} は、サービス利用者の個人情報を正しく取扱うことが事業活動の基本であり社会的責務であることを認識し個人情報保護法を遵守することを誓約します。</li><br>-->
<!--            </ol>-->
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>

{% else %}
<p>{{ mes_m }}</p>
{% endif %}

{% else %}

<div class="container">
    <div class="my-div-style w-100">
        <h5>利用規約</h5><br>

        <div class="row my-row-style1">
            {% if mes_m == '' %}

            <p>EXMATCHの利用規約を記述</p>

            {% else %}
            <p>{{ mes_m }}</p>
            {% endif %}

        </div>
    </div>
</div>
{% endif %}


{% endblock %}


