{% load static %}

<footer class="footer footer__base">
    <div class="nav">
    <div class="nav__wrap">
        <div class="menu">
            <ul>
                <li><a class="search" href="search.html">さがす</a></li>
                <li><a class="imadoko" href="imadoko.html">いまどこ</a></li>
                <li><a class="apply" href="apply.html">申込み</a></li>
                <li><a class="message" href="message.html">メッセージ</a></li>
                <li><a class="mypage" href="mypage.html">マイページ</a></li>
            </ul>
        </div>
    </div>
    </div>
</footer>